{% extends "base.html" %}

{% block title %}
    <title>購入がキャンセルされました｜EC運営に役立つwebツール｜Auto-biz</title>
{% endblock %}

{% block main %}
<div class="box">
    <div class="boxtitle">
        <h3>購入がキャンセルされました</h3>
    </div>
    <div class="sub_box">
        <h3>購入がキャンセルされました</h3>
        <p>
            texttexttexttexttexttexttexttexttexttexttexttext<br>
            texttexttexttexttexttexttexttexttexttexttexttext<br>
            texttexttexttexttexttexttexttexttexttexttexttext<br><br><br>

            <a href={% url 'top' %}>トップにもどる</a><br>
        </p>
    </div>
</div>
{% endblock %}