{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <title>Remove of CSV｜csvから特定の行を削除｜Auto-biz</title>
    <meta name="description" content="アップロードしたcsvファイルから特定の行のみを削除します。大量にフィルターをかける必要がある時などにご活用いただけます。">
{% endblock %}

{% block main %}

<div class="main_wrapper">

    <div class="sample_box">
        <div class="sample_area">
            <img src="{% static 'images/sample/remove-multiple-bf.png' %}" alt="" class="sample_img_bf">
            <img src="{% static 'images/sample/remove-multiple-af.png' %}" alt="" class="sample_img_af">
            <span class="bi bi-arrow-right"></span>
            <p class="sample_text">基準列に「商品番号」とキーワードに「fruit-01|fruit-05|fruit-07」を指定すると以下のようになります。</p>
        </div>
    </div>

    <div class="container">
        <div class="main_title">
            <h3>Remove CSV rows</h3>
            <p>アップロードしたcsvファイルから特定の行のみを削除します。</p>
        </div>

        <div class="tool_explanation">
            <div class="border"></div>
            <div class="explanation_view">
                <h3 class="explanation_title">このツールでできること</h3>
                <p class="explanation_text">
                アップロードしたcsvファイルから、基準となる列に「指定したキーワード」を含む行のみを削除したcsvファイルを出力します。（部分一致）<br>
                複数キーワードに対応。<br>
                </p>
            </div>
            <div class="explanation_used">
                <h3 class="explanation_title">使い方</h3>
                <ol class="explanation_text">
                    <li>処理するファイルを選択</li>
                    <li>基準とする列名を入力</li>
                    <li>削除するキーワードを入力（半角パイプ「|」区切りで複数指定可）</li>
                    <li>実行ボタンをクリック</li>
                </ol>
                <p class="sample_btn">sample<span class="sample_icon bi bi-box-arrow-up-right"></span></p>
            </div>
        </div>

        <form method="POST" class="data_form form-group" action="" enctype="multipart/form-data">
            <div class="form_area">
                <!-- フォームエラー処理 -->
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="message">{{ message }}</p>
                    {% endfor %}
                {% elif form.errors %}
                    <div class="alert_area">
                    {% for error in form.file.errors %}
                        <div class="error_alert" id="alert_area">
                            <span class="bi alert_icon bi-exclamation-triangle"></span>
                            <p>{{ error }}</p>
                            <span class="bi close_icon bi-x" id="close_icon"></span>
                        </div>
                    {% endfor %}
                    </div>
                {% elif error_message %}
                    <div class="alert_area">
                        <div class="error_alert" id="alert_area">
                            <span class="bi alert_icon bi-exclamation-triangle"></span>
                            <p>{{ error_message }}</p>
                            <span class="bi close_icon bi-x" id="close_icon"></span>
                        </div>
                    </div>
                {% endif %}
                <!-- フォーム -->
                <div class="form_content">
                    <!-- <label class="file_label">
                        <p>{{ form.file.label }}</p>
                        <input type="file" multiple name="file" accept=".csv" class="file_form" required>
                        <span class="bi plus_icon bi-plus-circle-dotted"></span>
                    </label> -->
                    <!-- <div class="file_area">
                        <span class="bi plus_icon bi-plus-circle-dotted"></span>
                    </div> -->
                    <label class="form_label">{{ form.file.label }}</label>
                    <input type="file" multiple name="file" accept=".csv" class="form-control form-control-sm form_input" required>
                </div>
                <div class="form_content">
                    <label class="form_label">{{ form.columuns.label }}</label>
                    {{ form.columuns | add_class:"form-control form_input" }}
                </div>
                <div class="form_content">
                    <label class="form_label">{{ form.code.label }}</label>
                    {{ form.code | add_class:"form-control form_input" }}
                </div>
                <button type="submit" class="btn submit_icon  btn-outline-primary" id="submit_btn">実行</button>
            </div>
        </form>

        <div class="notice">
            <h3 class="notice_title">csv行削除について</h3>
            <ul class="notice_text">
                <li>キーワードは部分一致で、半角パイプ「|」区切りで複数キーワード指定可能です。</li><br>
                <li>アップするcsvファイルの1行目がヘッダーとして読み込まれます。<br>つまり、基準とする列名が1行目にある必要があります。</li><br>
                <li>基準とする列に空白が含まれているcsvファイルには対応していません。<br>また、基準列以外は空白がある際でも処理は可能ですが、ヘッダーの空白が「Unnamed:」に置き換わります。</li><br>
                <li>複数ファイルをアップロードする際、zipファイル形式で出力され、中のファイルは全て「utf-8」でエンコードされます。</li><br>
                <li>アップするcsvファイルによっては文字化けを起こしたり、データ型が変更されて出力される恐れがあります。<br>処理が正常に終了したとしても、ダウンロードデータのご確認をお願いいたします。</li><br>
                <li>こちらのツールを使用したことによる不具合は一切の責任を追えませんのでご理解の上ご利用ください。</li><br>
                <li>現在、最大容量は{{ limit_size }}です。<br>今後、上限解放するかもしれませんのでお楽しみに。</li><br>
                <li>ご不明な点やご要望がございましたら、こちらの<a href="/inquiry">お問い合わせフォーム</a>までご連絡ください。</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}