* {
    box-sizing: border-box;
}

/* body {
    width: 100%;
    margin: 0;
    padding: 0;
} */

.wrap {
    width: 100%;
    overflow: hidden;
}

header{
    /* position: relative; */
    height: 100px;
    padding: 20px 80px 0px 80px;
}

header div{
    padding-bottom: 3px;
    border-bottom:solid
    rgba(0, 0, 0, 0.75) 2.5px;
}

header div div{
    text-align: right;
}

header a{
    text-decoration: none;
    color: #000000;
}

header a:hover{
    color: #000000;
}

header h1{
    /* position: absolute; */
    display: inline;
    font-size: 30px;
}

header p{
    /* position: absolute; */
    display: inline;
    font-size: 10px;
}

/* header p{
    display: inline;
    font-size: 10px;
    padding-bottom: 3px;
    border-bottom:solid
    rgba(0, 0, 0, 0.75) 2.5px;
} */

/* loading */
/*
@keyframes animation {
    0% {
        transform: rotate3d(1, 1, 0, 360deg);
    }
    50% {
        transform: rotate3d(0.5, 0.5, 0.5, 180deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

#loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
    visibility: hidden;
}

.loader_modal {
    position: relative;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader_modal span {
    animation: animation 5s infinite;
    position: absolute;
    border: 2px solid white;
    width: 100%;
    height: 100%;
}
.loader_modal span:nth-child(2) {
    animation-delay: 0.3s;
}

.loader_modal h2 {
    color: black;
    font-size: 30px;
} */

footer{
    padding: 40px 80px 0px 80px;
}

footer p{
    padding: 20px 80px 20px 80px;
    text-align: center;
    border-top:solid
    rgba(0, 0, 0, 0.75) 1.5px;
}

.box{
    padding: 0px 80px 0px 80px;
}

.boxtitle{
    padding-bottom:0px ;
    border-bottom:solid
    rgba(80, 80, 80, 0.145) 1.5px;
}

.sub_box{
    padding-top: 30px;
}

.tools_table{
    width: 100%;
    margin: 25px 0px;
    border-collapse: separate;
    border-spacing: 30px;
}

.tool{
    width: 25%;
    height: 190px;
    border: solid gray 1px;
    vertical-align:baseline;
}

.tools_table tr:nth-of-type(2) .tool:nth-of-type(n+2){
    background-color: rgba(0, 0, 0, 0.03);
}

.tools_table tr:nth-of-type(3) .tool{
    background-color: rgba(0, 0, 0, 0.03);
}

.tool a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 15px;
}

.tool:hover {
    background-color: rgba(240, 250, 255, 0.558);
}

.tool a:hover {
color: #000000;
}

.tool .title{
    font-size: 21px;
}

.explanation td{
    padding-right: 100px;
    vertical-align:baseline;
}

.explanation_title{
    font-weight: bold;
}

.explanation_text{
    color: #696C74;
    font-size: 14px;
}

.explanation_text:nth-of-type(1){
    padding-left: 1rem;
}

.explanation_text li{
    margin-bottom: 5px;
}

.form-group{
    margin-top: 10px;
    padding: 30px;
    background-color: #F8F8F0;
    border:solid
    #ccccc3 1px;
}

.notice{
    color: #696C74;
    margin-top: 30px;
    padding: 30px;
    border:solid
    #ccccc3 1px;
}

.label {
    padding-right: 10px;
}

.p{
    margin: 0;
}

#id_header_select{
    display: flex;
    padding: 0;
    margin: 0;
}

#id_header_select li{
    list-style: none;
    margin: 0px 20px 0px 0px;
}
