{% extends "base.html" %}

{% block main %}

<div class="box">
    <div class="box_title">
        <h3>CSV Tools</h3>
    </div>

    <table class="tools_table">
        <tr>
            <td class="tool">
                <a href={% url 'excel_table' %} class="tool_items">
                    <p class="tool_item_title">Excel to Html</p>
                    <div class="tool_item_sentence">
                        <p>Excelの表をHtmlのテーブルタグに変換します。<br>
                        セル内改行、セル結合には対応していません。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href={% url 'excel_extract' %} class="tool_items">
                    <p class="tool_item_title">Excel行抽出</p>
                    <div class="tool_item_sentence">
                        <p>Excelファイルから特定の行の抽出ができます。<br>複数キーワード抽出や部分一致での一括抽出などの応用も可能です。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href={% url 'excel_remove' %} class="tool_items">
                    <p class="tool_item_title">Excel行削除</p>
                    <div class="tool_item_sentence">
                        <p>アップロードしたExcelファイルから特定の行のみを削除します。<br>複数キーワード削除や部分一致での一括削除などの応用も可能です。</p>
                    </div>
                </a>
            </td>
        </tr>
    </table>
</div>

{% endblock %}