{% extends "base.html" %}

{% block main %}

<div class="box">
    <div class="box_title">
        <h3>Image Tools</h3>
    </div>

    <table class="tools_table">
        <tr>
            <td class="tool">
                <a href={% url 'image_resize' %} class="tool_items">
                    <p class="tool_item_title">Imageリサイズ</p>
                    <div class="tool_item_sentence">
                        <p>アップロードした画像ファイルを任意のサイズにリサイズします。<br>拡大、縮小の補正可能。</p>
                    </div>
                </a>
            </td>
        </tr>
    </table>
</div>

{% endblock %}