header{
    padding: 15px 80px 0px 80px;
}

header h1{
    font-size: 30px;
    padding-bottom:10px;
    border-bottom:solid
    rgba(0, 0, 0, 0.75) 2.5px;
}

footer{
    padding: 40px 80px 0px 80px;
}

footer p{
    padding: 20px 80px 20px 80px;
    text-align: center;
    border-top:solid
    rgba(0, 0, 0, 0.75) 1.5px;
}

.box{
    padding: 15px 80px 0px 80px;
}

.boxtitle{
    padding-bottom:0px ;
    border-bottom:solid
    rgba(80, 80, 80, 0.145) 1.5px;
}

.sub_box{
    padding-top: 30px;
}

.tools_table{
    width: 100%;
    margin: 25px 0px;
    border-collapse: separate;
    border-spacing: 30px;
}

.tool{
    border: solid gray 1px;
}

.tool a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 15px;
}

.tool a:hover {
    color: #000000;
    background-color: rgba(240, 250, 255, 0.558);
}

.tool .title{
    font-size: 21px;
}

.explanation td{
    padding-right: 100px;
}

.explanation_title{
    font-weight: bold;
}

.explanation_text{
    color: #696C74;
    font-size: 14px;
}

.explanation_text li{
    margin-bottom: 5px;
}

.form-group{
    margin-top: 10px;
    padding: 30px;
    background-color: #F8F8F0;
    border:solid
    #ccccc3 1px;
}

.notice{
    color: #696C74;
    margin-top: 30px;
    padding: 30px;
    border:solid
    #ccccc3 1px;
}
