{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <title>Excel to Html｜csvファイルの分割｜Auto-biz</title>
{% endblock %}

{% block main %}

<div class="main_wrapper">

    <div class="sample_box">
        <div class="sample_area">
            <img src="{% static 'images/sample/html-table-bf.png' %}" alt="" class="sample_img_bf">
            <img src="{% static 'images/sample/html-table-af-code.png' %}" alt="" class="sample_img_af">
            <span class="bi bi-arrow-right"></span>
            <p class="sample_text">ファイルを変換すると以下のようになります。</p>
        </div>
    </div>

    <div class="container">

        <div class="main_title">
            <h3>Excel to Html</h3>
            <p>Excelの表をHtmlのテーブルタグに変換します。</p>
        </div>

        <div class="tool_explanation">
            <div class="border"></div>
            <div class="explanation_view">
                <h3 class="explanation_title">このツールでできること</h3>
                <p class="explanation_text">
                Excelの表をHTMLのテーブルタグに変換します。<br>
                セル結合を含む表には対応していません。
                </p>
            </div>
            <div class="explanation_used">
                <h3 class="explanation_title">使い方</h3>
                <ol class="explanation_text">
                    <li>処理するファイルを選択</li>
                    <!-- <li>罫線の有無を選択</li> -->
                    <li>実行ボタンをクリック</li>
                </ol>
                <p class="sample_btn">sample<span class="sample_icon bi bi-box-arrow-up-right"></span></p>
            </div>
        </div>

        <form method="POST" class="data_form form-group" action="" enctype="multipart/form-data">
            <div class="form_area">
                <!-- フォームエラー処理 -->
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="message">{{ message }}</p>
                    {% endfor %}
                {% elif form.errors %}
                    <div class="alert_area">
                    {% for error in form.file.errors %}
                        <div class="error_alert" id="alert_area">
                            <span class="bi alert_icon bi-exclamation-triangle"></span>
                            <p>{{ error }}</p>
                            <span class="bi close_icon bi-x" id="close_icon"></span>
                        </div>
                    {% endfor %}
                    </div>
                {% elif error_message %}
                    <div class="alert_area">
                        <div class="error_alert" id="alert_area">
                            <span class="bi alert_icon bi-exclamation-triangle"></span>
                            <p>{{ error_message }}</p>
                            <span class="bi close_icon bi-x" id="close_icon"></span>
                        </div>
                    </div>
                {% endif %}
                <!-- フォーム -->
                <div class="form_content">
                    <!-- <label class="file_label">
                        <p>{{ form.file.label }}</p>
                        <input type="file" multiple name="file" accept=".csv" class="file_form" required>
                        <span class="bi plus_icon bi-plus-circle-dotted"></span>
                    </label> -->
                    <!-- <div class="file_area">
                        <span class="bi plus_icon bi-plus-circle-dotted"></span>
                    </div> -->
                    <label class="form_label">{{ form.file.label }}</label>
                    <input type="file" multiple name="file" accept=".csv" class="form-control form-control-sm form_input" required>
                </div>
                <button type="submit" class="btn submit_icon  btn-outline-primary" id="submit_btn">実行</button>
            </div>
        </form>

        <div class="notice">
            <h3 class="notice_title">Excel to Htmlについて</h3>
            <ul class="notice_text">
                <li>セル内改行、セル結合には対応していません。</li><br>
                <li>※&、<、> 記号は、&amp;amp;、&amp;lt;、&amp;gt; に変換されます（テスト必要）</li><br>
                <li>現在、最大容量は{{ limit_size }}です。<br>今後、上限解放するかもしれませんのでお楽しみに。</li><br>
                <li>ご不明な点やご要望がございましたら、こちらの<a href="/inquiry">お問い合わせフォーム</a>までご連絡ください。</li>
                <!-- <li>アップするcsvファイルの1行目がヘッダーとして読み込まれます。<br>つまり、基準とする列名が1行目にある必要があります。</li><br>
                <li>基準とする列に空白が含まれているcsvファイルには対応していません。<br>また、基準列以外のヘッダーが空白の際でも処理は可能ですが、空白が「Unnamed:」に置き換わってしまうので非推奨です。</li><br>
                <li>アップするcsvファイルによっては文字化けを起こしたり、データ型が変更されて出力される恐れがあります。処理が正常に終了したとしても、ダウンロードデータのご確認をお願いいたします。</li><br>
                <li>こちらのツールを使用したことによる不具合は一切の責任を追えませんのでご理解の上ご利用ください。</li><br> -->
            </ul>
        </div>
    </div>
</div>
{% endblock %}