{% extends "base.html" %}

{% block title %}
    <title>Remove of EXCEL｜excelから特定の行を削除｜Auto-biz</title>
{% endblock %}

{% block main %}

<div class="box">
    <div class="box_title">
        <h3>Remove EXCEL rows</h3>
        <p>アップロードしたexcelファイルから特定の行のみを削除します。</p>
    </div>
    <div class="sub_box">
        <table class="explanation">
            <tr>
                <td width="50%">
                    <p class="explanation_title">このツールでできること</p>
                    <p class="explanation_text">
                    アップロードしたexcelファイルから、基準となる列に「指定したキーワード」を含む行のみを削除したexcelファイルを出力します。（部分一致）<br>
                    複数キーワードに対応。<br>
                    複数ファイルは未対応。<br>
                    </p>
                </td>
                <td width="50%">
                    <p class="explanation_title">使い方</p>
                    <ol class="explanation_text">
                        <li>処理するファイルを選択</li>
                        <li>基準とする列名を入力</li>
                        <li>削除するキーワードを入力（半角パイプ「|」区切りで複数指定可）</li>
                        <li>実行ボタンをクリック</li>
                    </ol>
                </td>
            </tr>
        </table>

        <div class="form-group">
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show">
                {% for error in form.file.errors %}
                <div><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="警告:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="閉じる"></button>
                </div>
                {% endfor %}
            </div>
            {% elif error_message %}
            <div class="alert alert-danger alert-dismissible fade show">
                <div><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="警告:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>
                    {{ error_message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="閉じる"></button>
                </div>
            </div>
            {% endif %}
            <form method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="file-upload-wrapper">
                    <p>ファイルを選択<br>
                        <input type="file" multiple name="file" required>
                    </p>
                    <p>基準とする列名を入力<br>
                        {{ form.columuns }}
                    </p>
                    <p>キーワードを入力（半角パイプ「|」区切りで複数指定可能）<br>
                        {{ form.code }}
                    </p>
                </div>
                <p>ファイルをアップロードし、処理したファイルをダウンロードする</p>
                <button type="submit" class="save btn btn-outline-primary" id="btn">実行</button>
            </form>
        </div>
        <div class="notice">
            <p class="explanation_title">excel行削除について</p>
            <ul class="explanation_text">
                <li>キーワードは部分一致で、半角パイプ「|」区切りで複数キーワード指定可能です。</li><br>
                <li>アップするexcelファイルの1行目がヘッダーとして読み込まれます。<br>つまり、基準とする列名が1行目にある必要があります。</li><br>
                <li>基準とする列に空白が含まれているexcelファイルには対応していません。<br>また、基準列以外は空白がある際でも処理は可能ですが、ヘッダーの空白が「Unnamed:」に置き換わります。</li><br>
                <!-- <li>複数ファイルをアップロードする際、zipファイル形式で出力され、中のファイルは全て「utf-8」でエンコードされます。</li><br> -->
                <li>書式、セル結合は無視して出力されます。</li><br>
                <li>複数シートを含むexcelファイルの場合は、初めのシートのみ読み込まれます。</li><br>
                <li>アップするexcelファイルによっては文字化けを起こしたり、データ型が変更されて出力される恐れがあります。処理が正常に終了したとしても、ダウンロードデータのご確認をお願いいたします。</li><br>
                <li>こちらのツールを使用したことによる不具合は一切の責任を追えませんのでご理解の上ご利用ください。</li><br>
                <li>現在、最大容量は{{ limit_size }}です。<br>今後、上限解放するかもしれませんのでお楽しみに。</li><br>
                <li>ご不明な点やご要望がございましたら、こちらの<a href="/inquiry">お問い合わせフォーム</a>までご連絡ください。</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}