{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <title>Extraction of EXCEL｜excelから特定の行を抽出｜Auto-biz</title>
{% endblock %}

{% block main %}

<div class="main_wrapper">

    <div class="sample_area">
        <img src="{% static 'images/sample/extract-multiple-af.png' %}" alt="" class="tool_icon_img">
        <span class="sample_close bi bi-x-lg"></span>
    </div>

    <div class="container">

        <div class="main_title">
            <h3>Extraction EXCEL rows</h3>
            <p>アップロードしたexcelファイルから特定の行のみを抽出します。</p>
        </div>

        <div class="tool_explanation">
            <div class="border"></div>
            <div class="explanation_view">
                <h3 class="explanation_title">このツールでできること</h3>
                <p class="explanation_text">
                アップロードしたexcelファイルから、基準となる列に「指定したキーワード」を含む行のみを抽出したexcelファイルを出力します。（部分一致）<br>
                複数キーワードに対応。<br>
                複数ファイルは未対応。<br>
                </p>
            </div>
            <div class="explanation_used">
                <h3 class="explanation_title">使い方</h3>
                <ol class="explanation_text">
                    <li>処理するファイルを選択</li>
                    <li>基準とする列名を入力</li>
                    <li>抽出するキーワードを入力（半角パイプ「|」区切りで複数指定可）</li>
                    <li>実行ボタンをクリック</li>
                </ol>
                <p class="sample_text">sample<span class="sample_icon bi bi-box-arrow-up-right"></span></p>
            </div>
        </div>

        <form method="POST" class="data_form form-group" action="" enctype="multipart/form-data">
            <div class="form_area">
                <!-- フォームエラー処理 -->
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="message">{{ message }}</p>
                    {% endfor %}
                {% elif form.errors %}
                    <div class="alert_area">
                    {% for error in form.file.errors %}
                        <div class="error_alert" id="alert_area">
                            <span class="bi alert_icon bi-exclamation-triangle"></span>
                            <p>{{ error }}</p>
                            <span class="bi close_icon bi-x" id="close_icon"></span>
                        </div>
                    {% endfor %}
                    </div>
                {% elif error_message %}
                    <div class="alert_area">
                        <div class="error_alert" id="alert_area">
                            <span class="bi alert_icon bi-exclamation-triangle"></span>
                            <p>{{ error_message }}</p>
                            <span class="bi close_icon bi-x" id="close_icon"></span>
                        </div>
                    </div>
                {% endif %}
                <!-- フォーム -->
                <div class="form_content">
                    <!-- <label class="file_label">
                        <p>{{ form.file.label }}</p>
                        <input type="file" multiple name="file" accept=".csv" class="file_form" required>
                        <span class="bi plus_icon bi-plus-circle-dotted"></span>
                    </label> -->
                    <!-- <div class="file_area">
                        <span class="bi plus_icon bi-plus-circle-dotted"></span>
                    </div> -->
                    <label class="form_label">{{ form.file.label }}</label>
                    <input type="file" multiple name="file" accept=".csv" class="form-control form-control-sm" required>
                </div>
                <div class="form_content">
                    <label class="form_label">{{ form.columuns.label }}</label>
                    {{ form.columuns | add_class:"form-control form_input" }}
                </div>
                <div class="form_content">
                    <label class="form_label">{{ form.code.label }}</label>
                    {{ form.code | add_class:"form-control form_input" }}
                </div>
                <button type="submit" class="btn submit_icon  btn-outline-primary" id="submit_btn">実行</button>
            </div>
        </form>

        <div class="notice">
            <p class="notice_title">excel行抽出について</p>
            <ul class="notice_text">
                <li>キーワードは部分一致で、半角パイプ「|」区切りで複数キーワード指定可能です。</li><br>
                <li>アップするexcelファイルの1行目がヘッダーとして読み込まれます。<br>つまり、基準とする列名が1行目にある必要があります。</li><br>
                <li>基準とする列に空白が含まれているexcelファイルには対応していません。<br>また、基準列以外は空白がある際でも処理は可能ですが、ヘッダーの空白が「Unnamed:」に置き換わります。</li><br>
                <!-- <li>複数ファイルをアップロードする際、zipファイル形式で出力され、中のファイルは全て「utf-8」でエンコードされます。</li><br> -->
                <li>書式、セル結合は無視して出力されます。</li><br>
                <li>複数シートを含むexcelファイルの場合は、初めのシートのみ読み込まれます。</li><br>
                <li>アップするexcelファイルによっては文字化けを起こしたり、データ型が変更されて出力される恐れがあります。処理が正常に終了したとしても、ダウンロードデータのご確認をお願いいたします。</li><br>
                <li>こちらのツールを使用したことによる不具合は一切の責任を追えませんのでご理解の上ご利用ください。</li><br>
                <li>現在、最大容量は{{ limit_size }}です。<br>今後、上限解放するかもしれませんのでお楽しみに。</li><br>
                <li>ご不明な点やご要望がございましたら、こちらの<a href="/inquiry">お問い合わせフォーム</a>までご連絡ください。</li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}