{% extends "base.html" %}
{% load widget_tweaks %}

{% block main %}
<div class="form_wrapper">
    <form method="POST" class="form form-group">
        <h2 class="form_title">Password Edit</h2>
        <div class="form_area">
            <!-- フォームエラー処理 -->
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
            {% elif message %}
                <p class="message">{{ message }}</p>
            {% elif form.errors %}
                {% for error in form.errors %}
                    <p class="message">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <!-- ログインフォーム -->
            {% if request.method == "GET" %}
                <div class="form_content">
                    <label class="form_label">{{ form1.password.label }}</label>
                    {{ form1.password | add_class:"form-control form_input" }}
                </div>
                <div class="form_content">
                    <label class="form_label">{{ form1.password_1.label }}</label>
                    {{ form1.password_1 | add_class:"form-control form_input" }}
                </div>
                <div class="form_content">
                    <label class="form_label">{{ form1.password_2.label }}</label>
                    {{ form1.password_2 | add_class:"form-control form_input" }}
                </div>
                <button type="submit" class="btn" id="btn">Edit</button>
            {% else %}
                <div class="form_content">
                    <label class="auth_form_label">{{ form2.token.label }}</label>
                    {{ form2.token | add_class:"form-control auth_form_input" }}
                </div>
                <button type="submit" class="btn auth_btn" id="btn">Send</button>
            {% endif %}
        </div>
        <div class="link_area">
            <a href={% url 'lost_password' %} class="form_link">パスワードをお忘れの方</a>
        </div>
    </form>
</div>
{% endblock %}