{% extends "base.html" %}
{% load widget_tweaks %}

<!-- {% block header %}
<div class="header_right_contents">
    <a href={% url 'about' %} class="header_right_link">
        <span>auto-bizとは</span>
        <h2>About</h2>
    </a>
    <a href={% url 'login' %} class="header_right_link">
        <span>プレミアム会員</span>
        <h2>Premium</h2>
    </a>
    <a href={% url 'tools' %} class="header_right_link">
        <span>機能一覧</span>
        <h2>Tools</h2>
    </a>
    <a href={% url 'inquiry' %} class="header_right_link">
        <span>お問い合わせ</span>
        <h2>Contact</h2>
    </a>
    <div class="header_right_small_link_area">
        <a href={% url 'signup' %} class="header_right_small_link">
            <p>Signup</p>
        </a>
        <a href={% url 'login' %} class="header_right_small_link">
            <p>Login</p>
        </a>
        <a href="" class="header_right_small_link">
            <p>利用規約</p>
        </a>
        <a href={% url 'help' %} class="header_right_small_link">
            <p>Help</p>
        </a>
    </div>
</div>
{% endblock %} -->

{% block header_menu %}
    <a href={% url 'signup' %} class="header_menu_link">Signup</a>
    <a href={% url 'login' %} class="header_menu_link">Login</a>
    <a href='' class="header_menu_link_ja">プレミアム会員</a>
    <a href={% url 'help' %} class="header_menu_link">Help</a>
    <a href="" class="header_menu_link_ja">利用規約</a>
{% endblock %}

{% block main %}
<div class="form_wrapper">
    <form method="POST" class="signup_form form-group">
        {% if request.method == "GET" %}
            <h2 class="form_title">Reissue</h2>
        {% else %}
            <h2 class="form_title">Authentication</h2>
        {% endif %}
        <div class="form_area">
            <!-- フォームエラー処理 -->
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
            {% elif form.errors %}
                {% for error in form.errors %}
                    <p class="message">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <!-- パスワード再発行フォーム -->
            {% if request.method == "GET" %}
                <div class="form_content">
                    <label class="form_label">{{ form1.email.label }}</label>
                    {{ form1.email | add_class:"form-control form_input" }}
                </div>
                <div class="form_content">
                    <label class="form_label">{{ form1.password1.label }}</label>
                    {{ form1.password1 | add_class:"form-control form_input" }}
                </div>
                <div class="form_content">
                    <label class="form_label">{{ form1.password2.label }}</label>
                    {{ form1.password2 | add_class:"form-control form_input" }}
                </div>
                <button type="submit" class="btn" id="btn">Reissue</button>
            {% else %}
                <div class="form_content">
                    <label class="auth_form_label">{{ form2.token.label }}</label>
                    {{ form2.token | add_class:"form-control auth_form_input" }}
                </div>
                <button type="submit" class="btn auth_btn" id="btn">Send</button>
            {% endif %}
        </div>
    </form>
</div>
</div>
{% endblock %}