{% extends "base.html" %}

{% block main %}
<div class="box">
    <div class="box_title">
        <h3>Signup</h3>
    </div>
    <div class="sub_box">
        <div class="form-group">
            <!-- フォームエラー処理 -->
            {% if messages or message %}
            <p>{{ message }}</p>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% elif form.errors %}
                {% for error in form.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
            <form method="POST" class="form">
                {% csrf_token %}
                {% if request.method == "POST" %}
                <!-- 二段階認証フォーム -->
                    <label>{{ form2.token.label }}</label>
                    <p>{{ form2.token }}</p>
                    <button type="submit" class="save btn btn-outline-primary" id="btn">送信</button>
                {% else %}
                <!-- ユーザー登録フォーム -->
                    <label>{{ form1.name.label_tag }}</label>
                    <p>{{ form1.name }}</p>
                    <label>{{ form1.email.label_tag }}</label>
                    <!-- <input type="email" name="email"> -->
                    <p>{{ form1.email }}</p>
                    <label>{{ form1.password1.label_tag }}</label>
                    <!-- <input type="password" name="password"> -->
                    <p>{{ form1.password1 }}</p>
                    <label>{{ form1.password2.label_tag }}</label>
                    <!-- <input type="password" name="password"> -->
                    <p>{{ form1.password2 }}</p>
                    <button type="submit" class="save btn btn-outline-primary" id="btn">サインアップ</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}