{% extends "base.html" %}
{% load widget_tweaks %}

{% block main %}
<div class="form_wrapper">
    <form method="POST" class="signup_form form-group">
        {% if request.method == "GET" %}
            <h2 class="form_title">Signup</h2>
        {% else %}
            <h2 class="form_title">Authentication</h2>
        {% endif %}
        <div class="form_area">
            <!-- フォームエラー処理 -->
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
            {% elif form.errors %}
                {% for error in form.errors %}
                    <p class="message">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <!-- <p class="message">ご登録のメールアドレス宛に6桁の番号を送信しました。フォームに入力してください。送信されていない場合は再度お試しください。</p> -->
            <!-- ログインフォーム -->
            {% if request.method == "GET" %}
                <div class="form_content">
                    <label class="form_label">{{ form1.name.label }}</label>
                    {{ form1.name | add_class:"form-control form_input" }}
                </div>
                <div class="form_content">
                    <label class="form_label">{{ form1.email.label }}</label>
                    {{ form1.email | add_class:"form-control form_input" }}
                </div>
                <div class="form_content">
                    <label class="form_label">{{ form1.password1.label }}</label>
                    {{ form1.password1 | add_class:"form-control form_input" }}
                </div>
                <div class="form_content">
                    <label class="form_label">{{ form1.password2.label }}</label>
                    {{ form1.password2 | add_class:"form-control form_input" }}
                </div>
                <button type="submit" class="btn" id="btn">Signup</button>
            {% else %}
                <div class="form_content">
                    <label class="auth_form_label">{{ form2.token.label }}</label>
                    {{ form2.token | add_class:"form-control auth_form_input" }}
                </div>
                <button type="submit" class="btn auth_btn" id="btn">Send</button>
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}