@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrap {
  overflow: hidden;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  border-bottom: 2px solid rgba(80, 80, 80, 0.8);
  z-index: 5;
  background-color: #fff;
}
header.active {
  position: fixed;
}
header .header_top_link {
  position: relative;
  width: 200px;
  text-decoration: none;
  font-size: none;
  color: none;
  font-family: none;
  margin: 0 0 30px 30px;
}
header .header_top_link .title_img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: none;
  opacity: 1;
}
header .header_right_contents {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 80px;
}
header .header_right_contents .header_right_link {
  display: block;
  text-decoration: none;
  width: 130px;
  text-align: center;
  color: rgb(40, 40, 40);
}
header .header_right_contents .header_right_link h2 {
  padding: 25px 0 0 0;
  margin: 0;
  font-size: 18px;
  font-family: "Open Sans", "sans-serif";
}
header .header_right_contents .header_right_small_link_area {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 70px;
}
header .header_right_contents .header_right_small_link_area .header_right_small_link {
  display: block;
  text-decoration: none;
  width: 70px;
  text-align: center;
  color: rgb(40, 40, 40);
}
header .header_right_contents .header_right_small_link_area .header_right_small_link p {
  padding-top: 45px;
  font-size: 15px;
  font-family: "Open Sans", "sans-serif";
}
header .header_right_contents .header_right_account_area {
  position: relative;
  width: 130px;
  text-align: center;
}
header .header_right_contents .header_right_account_area .account_icon {
  position: absolute;
  top: -18px;
  right: -10px;
  font-size: 30px;
  color: rgb(40, 40, 40);
  transition: 0.2s;
}
header .header_right_contents .header_right_account_area .account_icon:hover {
  color: gray;
  transition: 0.2s;
}
header .account_modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 65px;
  right: -170px;
  width: 170px;
  height: 400px;
  text-align: center;
  z-index: 100;
  background-color: #6C6E74;
  transition: 0.2s;
}
header .account_modal .header_account_edit_link {
  display: block;
  margin-top: 20px;
  padding: 5px 0;
  text-decoration: none;
  font-size: 15px;
  color: rgb(40, 40, 40);
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
}
header .account_modal .header_account_logout_link {
  display: block;
  text-decoration: none;
  font-size: 15px;
  color: rgb(40, 40, 40);
  font-family: "Open Sans", "sans-serif";
}
header .account_modal.active {
  right: 0 !important;
  transition: 0.2s;
}

.form_wrapper {
  width: 100%;
  min-height: 900px;
  padding: 200px 0 250px 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}
.form_wrapper .form {
  width: 350px;
  min-height: 350px;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid rgba(80, 80, 80, 0.8);
}
.form_wrapper .form .form_title {
  margin: 0;
  padding: 10px 0;
  font-size: 22px;
  font-family: "Open Sans", "sans-serif";
  text-align: center;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.8);
  background-color: black;
}
.form_wrapper .form .form_area {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
  margin: 60px 0 0 25px;
  padding-bottom: 30px;
}
.form_wrapper .form .form_area .message {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: rgb(110, 0, 0);
}
.form_wrapper .form .form_area .form_content {
  position: relative;
  width: 100%;
}
.form_wrapper .form .form_area .form_content .form_label {
  position: absolute;
  top: -12px;
  left: 10px;
  font-size: 13px;
  font-family: "Open Sans", "sans-serif";
  color: rgb(40, 40, 40);
  opacity: 0.8;
  background-color: #fff;
}
.form_wrapper .form .form_area .form_content .form_input {
  width: 100%;
  font-size: 15px;
  font-family: "Open Sans", "sans-serif";
  background-color: #fff;
}
.form_wrapper .form .form_area .form_content .form_input:focus {
  border: 1px solid rgba(80, 80, 80, 0.8);
  outline: 1px rgb(40, 40, 40);
  box-shadow: 3px 3px 3px rgb(40, 40, 40);
}
.form_wrapper .form .form_area .form_content .auth_form_label {
  position: absolute;
  top: -12px;
  left: 10px;
  margin-top: 25px;
  font-size: 13px;
  font-family: "Open Sans", "sans-serif";
  color: rgb(40, 40, 40);
  opacity: 0.8;
  background-color: #fff;
}
.form_wrapper .form .form_area .form_content .auth_form_input {
  width: 100%;
  margin-top: 25px;
  font-size: 15px;
  font-family: "Open Sans", "sans-serif";
}
.form_wrapper .form .form_area .form_content .auth_form_input:focus {
  border: 1px solid rgba(80, 80, 80, 0.8);
  outline: 1px rgb(40, 40, 40);
  box-shadow: 3px 3px 3px rgb(40, 40, 40);
}
.form_wrapper .form .form_area .btn {
  width: 80px;
  margin-left: 220px;
  font-size: 13px;
  font-family: "Open Sans", "sans-serif";
  color: rgb(40, 40, 40);
  border: 1px solid rgba(80, 80, 80, 0.8);
}
.form_wrapper .form .form_area .btn:hover {
  transition: 1s;
  background-color: rgb(150, 150, 150);
}
.form_wrapper .form .form_area .auth_btn {
  width: 80px;
  margin-top: 20px;
  margin-left: 220px;
  font-size: 13px;
  font-family: "Open Sans", "sans-serif";
  color: rgb(40, 40, 40);
  border: 1px solid rgba(80, 80, 80, 0.8);
}
.form_wrapper .form .form_area .auth_btn:hover {
  transition: 1s;
  background-color: rgb(150, 150, 150);
}
.form_wrapper .form .link_area {
  width: 150px;
  margin-left: 50%;
  padding-bottom: 30px;
  transform: translateX(-50%);
}
.form_wrapper .form .link_area .form_link {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  text-decoration: none;
  font-size: none;
  color: rgb(40, 40, 40);
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  font-size: 12px;
}
.form_wrapper .form .link_area .form_link::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  top: 6.5px;
  right: 5px;
  border-top: 0.5px solid rgb(40, 40, 40);
  border-right: 0.5px solid rgb(40, 40, 40);
  transform: rotate(45deg);
}
.form_wrapper .form .link_area .form_link:hover::after {
  right: 0px;
  transition: 0.3s;
}

.top_wrapper {
  padding-top: 4%;
  box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.11), 0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
}
.top_wrapper .top_container {
  max-width: 1900px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.top_wrapper .top_container .top_bg_img {
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 55%, rgb(255, 255, 255) 80%), url("/static/images/sleeping-man.jpg");
  text-align: center;
  width: 100%;
  height: 40vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}
.top_wrapper .top_container .top_main_title {
  display: inline-block;
}
.top_wrapper .top_container .top_main_title h3 {
  font-size: 45px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  font-weight: bold;
}
.top_wrapper .top_container .top_main_title p {
  width: 70%;
  font-size: 15px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  margin: auto;
  padding-top: 10px;
}

@media screen and (max-width: 1900px) {
  .top_wrapper .top_container .top_bg_img {
    height: 50vw;
  }
}
@media screen and (max-width: 1300px) {
  .top_wrapper .top_container .top_bg_img {
    height: 60vw;
  }
  .top_wrapper .top_container .top_main_title h3 {
    font-size: 45px;
  }
}
@media screen and (max-width: 960px) {
  .top_wrapper {
    padding-top: 10%;
  }
  .top_wrapper .top_container .top_bg_img {
    background-size: 150%;
    height: 100vw;
  }
  .top_wrapper .top_container .top_main_title h3 {
    font-size: 35px;
  }
}
.main_wrapper {
  position: relative;
  width: 100%;
  min-height: 900px;
  padding: 120px 0 150px 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}
.main_wrapper .tools_main_image {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  top: 0;
  left: 0;
}
.main_wrapper .sample_area {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(5, 5, 5, 0.856);
  z-index: 6;
}
.main_wrapper .sample_area img {
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}
.main_wrapper .sample_area .sample_close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 22px;
  color: wheat;
  z-index: 6;
}
.main_wrapper .container {
  width: 1290px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.main_wrapper .container .main_title {
  width: 100%;
  text-align: center;
}
.main_wrapper .container .main_title h3 {
  font-size: 22px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  font-weight: bold;
}
.main_wrapper .container .main_title p {
  font-size: 15px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
}
.main_wrapper .container .tools_table {
  width: 1290px;
  margin-top: 80px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.main_wrapper .container .tools_table tr {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}
.main_wrapper .container .tools_table tr .tool {
  position: relative;
  width: 300px;
  margin-bottom: 40px;
  border: 1px solid rgba(80, 80, 80, 0.8);
  border-radius: 3px;
  background-color: #fff;
  transition: 0.2s;
}
.main_wrapper .container .tools_table tr .tool .tool_items {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
}
.main_wrapper .container .tools_table tr .tool .tool_items .tool_icon_img {
  width: 23px;
  height: 23px;
  margin-top: 10px;
  margin-left: 10px;
}
.main_wrapper .container .tools_table tr .tool .tool_items .tool_item_title {
  margin: 0;
  padding: 0;
  text-align: center;
}
.main_wrapper .container .tools_table tr .tool .tool_items .tool_item_title h3 {
  margin: 0;
  font-size: 19px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  font-weight: bold;
  color: rgb(40, 40, 40);
}
.main_wrapper .container .tools_table tr .tool .tool_items .tool_item_title h3::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  top: 13px;
  right: 50px;
  border-top: 1.5px solid rgb(40, 40, 40);
  border-right: 1.5px solid rgb(40, 40, 40);
  transform: rotate(45deg);
  opacity: 0;
}
.main_wrapper .container .tools_table tr .tool .tool_items .tool_item_sentence {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 13px;
}
.main_wrapper .container .tools_table tr .tool .tool_items .tool_item_sentence p {
  width: 100%;
  padding: 15px 10px 0;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  color: rgb(40, 40, 40);
}
.main_wrapper .container .tools_table tr .tool .tool_items .tool_detail {
  display: flex;
  align-items: center;
  margin: 0 0 0 25px;
  padding: 10px 0 10px 0;
  font-size: 13px;
  font-weight: bold;
  color: rgb(40, 40, 40);
}
.main_wrapper .container .tools_table tr .tool .tool_items .tool_detail .tool_detail_icon {
  margin-left: 5px;
  font-size: 12px;
}
.main_wrapper .container .tools_table tr .tool:hover {
  top: -3px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}
.main_wrapper .container .tool_explanation {
  display: flex;
  width: 100%;
  margin-top: 40px;
  border-bottom: 2px solid rgba(80, 80, 80, 0.8);
}
.main_wrapper .container .tool_explanation .explanation_view {
  width: 50%;
}
.main_wrapper .container .tool_explanation .explanation_view .explanation_title {
  width: 100%;
  margin-top: 20px;
  padding-left: 15px;
  font-size: 15px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  font-weight: bold;
}
.main_wrapper .container .tool_explanation .explanation_view .explanation_text {
  padding: 10px 5px 5px 35px;
  font-size: 13px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
}
.main_wrapper .container .tool_explanation .explanation_used {
  position: relative;
  width: 50%;
  border-left: 1px solid rgba(80, 80, 80, 0.8);
}
.main_wrapper .container .tool_explanation .explanation_used .explanation_title {
  width: 100%;
  margin-top: 20px;
  padding-left: 15px;
  font-size: 15px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  font-weight: bold;
}
.main_wrapper .container .tool_explanation .explanation_used .explanation_text {
  padding: 0 5px 5px 50px;
  font-size: 13px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
}
.main_wrapper .container .tool_explanation .explanation_used .sample_text {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 15px;
}
.main_wrapper .container .tool_explanation .explanation_used .sample_text span {
  margin-left: 10px;
}
.main_wrapper .container .data_form {
  margin-top: 50px;
  margin-left: 50%;
  margin-bottom: 50px;
  width: 450px;
  transform: translateX(-50%);
  border: 1px solid rgba(80, 80, 80, 0.8);
}
.main_wrapper .container .data_form .form_title {
  margin: 0;
  padding: 10px 0;
  font-size: 22px;
  font-family: "Open Sans", "sans-serif";
  text-align: center;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.8);
  background-color: black;
}
.main_wrapper .container .data_form .form_area {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
  margin: 30px 0 0 25px;
  padding-bottom: 30px;
}
.main_wrapper .container .data_form .form_area .message {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: rgb(110, 0, 0);
}
.main_wrapper .container .data_form .form_area .alert_area {
  width: 100%;
}
.main_wrapper .container .data_form .form_area .alert_area .error_alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  background-color: rgb(255, 230, 230);
  border: 1px solid rgb(110, 0, 0);
  border-radius: 3px;
}
.main_wrapper .container .data_form .form_area .alert_area .error_alert .alert_icon {
  margin-left: 10px;
  font-size: 15px;
  color: rgb(110, 0, 0);
}
.main_wrapper .container .data_form .form_area .alert_area .error_alert p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: rgb(110, 0, 0);
}
.main_wrapper .container .data_form .form_area .alert_area .error_alert .close_icon {
  margin-right: 5px;
  font-size: 22px;
}
.main_wrapper .container .data_form .form_area .file_content {
  width: 100%;
  height: 150px;
}
.main_wrapper .container .data_form .form_area .file_content .file_label {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(80, 80, 80, 0.8);
}
.main_wrapper .container .data_form .form_area .file_content .file_label p {
  width: 110px;
  padding: 2px;
  font-size: 13px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  text-align: center;
  color: rgb(40, 40, 40);
  background-color: rgb(200, 200, 200);
  border-right: 1px solid rgba(80, 80, 80, 0.8);
  border-bottom: 1px solid rgba(80, 80, 80, 0.8);
}
.main_wrapper .container .data_form .form_area .file_content .file_label .plus_icon {
  position: absolute;
  bottom: 60px;
  left: 50%;
  font-size: 22px;
  transform: translateX(-50%);
  opacity: 0.7;
}
.main_wrapper .container .data_form .form_area .file_content input[type=file] {
  display: none;
}
.main_wrapper .container .data_form .form_area .form_content {
  position: relative;
  width: 100%;
}
.main_wrapper .container .data_form .form_area .form_content .form_label {
  position: absolute;
  top: -12px;
  left: 10px;
  font-size: 13px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  color: rgb(40, 40, 40);
  background-color: #fff;
}
.main_wrapper .container .data_form .form_area .form_content .form_input {
  width: 100%;
  font-size: 15px;
  font-family: "Open Sans", "sans-serif";
  background-color: #fff;
}
.main_wrapper .container .data_form .form_area .form_content .form_input:focus {
  border: 1px solid rgba(80, 80, 80, 0.8);
  outline: 1px rgb(40, 40, 40);
  box-shadow: 3px 3px 3px rgb(40, 40, 40);
}
.main_wrapper .container .data_form .form_area .submit_text {
  position: absolute;
  left: 5px;
  bottom: 38px;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.main_wrapper .container .data_form .form_area .btn {
  width: 80px;
  margin-left: 320px;
  font-size: 13px;
  font-family: "Open Sans", "sans-serif";
  color: rgb(40, 40, 40);
  border: 1px solid rgba(80, 80, 80, 0.8);
}
.main_wrapper .container .data_form .form_area .btn:hover {
  transition: 1s;
  background-color: rgb(150, 150, 150);
}
.main_wrapper .container .notice {
  position: relative;
  padding-top: 20px;
  padding-left: 70px;
  border-top: 2px solid rgba(80, 80, 80, 0.8);
}
.main_wrapper .container .notice::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 40px;
  transform: rotate(90%);
  width: 2px;
  height: 115%;
  background-color: rgba(80, 80, 80, 0.8);
}
.main_wrapper .container .notice .notice_title {
  width: 100%;
  font-size: 15px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  font-weight: bold;
}
.main_wrapper .container .notice .notice_text {
  padding-top: 20px;
  font-size: 13px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
}

@media screen and (max-width: 1400px) {
  .tools_table {
    width: 960px;
  }
}
footer {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgb(238, 238, 234);
}
footer p {
  padding-top: 10px;
  font-size: 12px;
  font-family: "Open Sans", "sans-serif";
}/*# sourceMappingURL=main.css.map */