@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrap {
  overflow: hidden;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  border-bottom: 2px solid rgba(80, 80, 80, 0.8);
  z-index: 5;
  background-color: #fff;
}
header.active {
  position: fixed;
}
header .header_logo_area {
  position: relative;
<<<<<<< HEAD
  width: 185px;
=======
  text-decoration: none;
  font-size: none;
  color: none;
  font-family: none;
  width: 300px;
>>>>>>> main
  height: 100%;
  margin: 20px 15px 0 30px;
}
header .header_logo_area .title_img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 70%;
  height: 70%;
  opacity: 1;
}
header .header_right_contents_auth {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 430px;
  height: 100%;
}
header .header_right_contents_auth .header_right_slide {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 130px;
  text-align: center;
  color: rgb(40, 40, 40);
}
header .header_right_contents_auth .header_right_slide .header_right_tools {
  padding-top: 18px;
  font-size: 22px;
<<<<<<< HEAD
  font-family: "Open Sans", "sans-serif";
=======
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
}
header .header_right_contents_auth .header_right_slide .header_right_tools_pulldown {
  position: absolute;
  display: none;
  flex-direction: column;
  list-style: none;
  top: 100%;
  width: 100%;
  padding: 10px 0 10px 0;
}
header .header_right_contents_auth .header_right_slide .header_right_tools_pulldown .header_right_tools_link {
  text-decoration: none;
  font-size: 15px;
  color: rgb(40, 40, 40);
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
}
header .header_right_contents_auth .header_right_link {
  position: relative;
  display: block;
  text-decoration: none;
  width: 130px;
  text-align: center;
  color: rgb(40, 40, 40);
}
header .header_right_contents_auth .header_right_link h2 {
  padding-top: 18px;
  font-size: 22px;
<<<<<<< HEAD
  font-family: "Open Sans", "sans-serif";
=======
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
}
header .header_right_contents_auth .header_right_account {
  width: 130px;
  margin-top: 8px;
  text-align: center;
}
header .header_right_contents_auth .header_right_account .account_icon {
  font-size: 30px;
}
header .header_right_contents {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 100px;
}
header .header_right_contents .header_right_slide {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 130px;
  text-align: center;
  color: rgb(40, 40, 40);
}
header .header_right_contents .header_right_slide .header_right_tools {
  padding-top: 18px;
  font-size: 22px;
<<<<<<< HEAD
  font-family: "Open Sans", "sans-serif";
=======
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
}
header .header_right_contents .header_right_slide .header_right_tools_pulldown {
  position: absolute;
  display: none;
  flex-direction: column;
  list-style: none;
  top: 100%;
  width: 100%;
  padding: 10px 0 10px 0;
}
header .header_right_contents .header_right_slide .header_right_tools_pulldown .header_right_tools_link {
  text-decoration: none;
  font-size: 15px;
  color: rgb(40, 40, 40);
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
}
header .header_right_contents .header_right_link {
  display: block;
  text-decoration: none;
  width: 110px;
  text-align: center;
  color: rgb(40, 40, 40);
}
header .header_right_contents .header_right_link h2 {
<<<<<<< HEAD
  padding-top: 20px;
  font-size: 20px;
  font-family: "Open Sans", "sans-serif";
=======
  padding-top: 18px;
  font-size: 22px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
}
header .header_right_contents .header_right_link h2::after {
  content: "";
  display: block;
  width: 0;
  margin-top: 5px;
  transition: all 0.3s ease;
  border-bottom: 2px solid rgba(80, 80, 80, 0.8);
}
header .header_right_contents .header_right_link h2:hover::after {
  width: 100%;
  border-bottom: 2px solid rgba(80, 80, 80, 0.8);
}
header .header_right_contents .header_right_small_link_area {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 30px;
}
header .header_right_contents .header_right_small_link_area .header_right_small_link {
  display: block;
  text-decoration: none;
<<<<<<< HEAD
  width: 70px;
=======
  font-size: 22px;
  color: rgb(40, 40, 40);
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  border-bottom: 2px solid rgba(80, 80, 80, 0.8);
>>>>>>> main
  text-align: center;
  color: rgb(40, 40, 40);
}
header .header_right_contents .header_right_small_link_area .header_right_small_link p {
  padding-top: 35px;
  font-size: 15px;
  font-family: "Open Sans", "sans-serif";
}
header .header_right_contents .header_right_small_link_area .header_right_small_link p::after {
  content: "";
  display: block;
  width: 0;
  margin-top: 2px;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(80, 80, 80, 0.8);
}
header .header_right_contents .header_right_small_link_area .header_right_small_link p:hover::after {
  width: 100%;
  border-bottom: 1px solid rgba(80, 80, 80, 0.8);
}
header .account_modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 65px;
  right: -130px;
  width: 130px;
  height: 400px;
  text-align: center;
  z-index: 100;
  background-color: #6C6E74;
  transition: 0.2s;
}
header .account_modal .header_account_edit_link {
  display: block;
  margin-top: 20px;
  padding: 5px 0;
  text-decoration: none;
  font-size: 15px;
  color: rgb(40, 40, 40);
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
}
header .account_modal .header_account_logout_link {
  display: block;
  text-decoration: none;
  font-size: 15px;
  color: rgb(40, 40, 40);
<<<<<<< HEAD
  font-family: "Open Sans", "sans-serif";
=======
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
}
header .account_modal.active {
  right: 0 !important;
  transition: 0.2s;
}

.form_wrapper {
  width: 100%;
  min-height: 900px;
  padding: 200px 0 250px 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.form_wrapper .login_form {
  width: 350px;
  min-height: 380px;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}
.form_wrapper .login_form .form_title {
  margin: 0;
  padding: 10px 0;
<<<<<<< HEAD
  font-size: 25px;
  font-family: "Open Sans", "sans-serif";
=======
  font-size: 22px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
  text-align: center;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.8);
  background-color: black;
}
.form_wrapper .login_form .form_area {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
  margin: 60px 0 0 25px;
  padding-bottom: 30px;
}
.form_wrapper .login_form .form_area .message {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: rgb(110, 0, 0);
}
.form_wrapper .login_form .form_area .form_content {
  position: relative;
  width: 300px;
}
.form_wrapper .login_form .form_area .form_content .form_label {
  position: absolute;
  top: -12px;
  left: 10px;
  font-size: 13px;
<<<<<<< HEAD
  font-family: "Open Sans", "sans-serif";
=======
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
  color: rgb(40, 40, 40);
  opacity: 0.8;
  background-color: #fff;
}
.form_wrapper .login_form .form_area .form_content .form_input {
  width: 100%;
  font-size: 15px;
<<<<<<< HEAD
  font-family: "Open Sans", "sans-serif";
=======
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
}
.form_wrapper .login_form .form_area .form_content .form_input:focus {
  border: 1px solid rgba(80, 80, 80, 0.8);
  outline: 1px rgb(40, 40, 40);
  box-shadow: 3px 3px 3px rgb(40, 40, 40);
}
.form_wrapper .login_form .form_area .btn {
  width: 80px;
  margin-left: 220px;
  font-size: 13px;
<<<<<<< HEAD
  font-family: "Open Sans", "sans-serif";
=======
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
  color: rgb(40, 40, 40);
  border: 1px solid rgba(80, 80, 80, 0.8);
}
.form_wrapper .login_form .form_area .btn:hover {
  transition: 1s;
  background-color: rgb(150, 150, 150);
}
.form_wrapper .login_form .link_area {
  width: 150px;
  margin-left: 50%;
  padding-bottom: 30px;
  transform: translateX(-50%);
}
.form_wrapper .login_form .link_area .form_link {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  text-decoration: none;
  font-size: none;
  color: rgb(40, 40, 40);
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  font-size: 12px;
}
.form_wrapper .login_form .link_area .form_link::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  top: 6.5px;
  right: 5px;
  border-top: 0.5px solid rgb(40, 40, 40);
  border-right: 0.5px solid rgb(40, 40, 40);
  transform: rotate(45deg);
}
.form_wrapper .login_form .link_area .form_link:hover::after {
  right: 0px;
  transition: 0.3s;
}
.form_wrapper .signup_form {
  width: 350px;
  min-height: 350px;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}
.form_wrapper .signup_form .form_title {
  margin: 0;
  padding: 10px 0;
<<<<<<< HEAD
  font-size: 25px;
  font-family: "Open Sans", "sans-serif";
=======
  font-size: 22px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
  text-align: center;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.8);
  background-color: black;
}
.form_wrapper .signup_form .form_area {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
  margin: 60px 0 0 25px;
  padding-bottom: 30px;
}
.form_wrapper .signup_form .form_area .message {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: rgb(110, 0, 0);
}
.form_wrapper .signup_form .form_area .form_content {
  position: relative;
  width: 100%;
}
.form_wrapper .signup_form .form_area .form_content .form_label {
  position: absolute;
  top: -12px;
  left: 10px;
  font-size: 13px;
<<<<<<< HEAD
  font-family: "Open Sans", "sans-serif";
=======
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
  color: rgb(40, 40, 40);
  opacity: 0.8;
  background-color: #fff;
}
.form_wrapper .signup_form .form_area .form_content .form_input {
  width: 100%;
  font-size: 15px;
<<<<<<< HEAD
  font-family: "Open Sans", "sans-serif";
=======
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
}
.form_wrapper .signup_form .form_area .form_content .form_input:focus {
  border: 1px solid rgba(80, 80, 80, 0.8);
  outline: 1px rgb(40, 40, 40);
  box-shadow: 3px 3px 3px rgb(40, 40, 40);
}
.form_wrapper .signup_form .form_area .form_content .auth_form_label {
  position: absolute;
  top: -12px;
  left: 10px;
  margin-top: 25px;
  font-size: 13px;
<<<<<<< HEAD
  font-family: "Open Sans", "sans-serif";
=======
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
  color: rgb(40, 40, 40);
  opacity: 0.8;
  background-color: #fff;
}
.form_wrapper .signup_form .form_area .form_content .auth_form_input {
  width: 100%;
  margin-top: 25px;
  font-size: 15px;
<<<<<<< HEAD
  font-family: "Open Sans", "sans-serif";
=======
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
}
.form_wrapper .signup_form .form_area .form_content .auth_form_input:focus {
  border: 1px solid rgba(80, 80, 80, 0.8);
  outline: 1px rgb(40, 40, 40);
  box-shadow: 3px 3px 3px rgb(40, 40, 40);
}
.form_wrapper .signup_form .form_area .btn {
  width: 80px;
  margin-left: 220px;
  font-size: 13px;
<<<<<<< HEAD
  font-family: "Open Sans", "sans-serif";
=======
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
  color: rgb(40, 40, 40);
  border: 1px solid rgba(80, 80, 80, 0.8);
}
.form_wrapper .signup_form .form_area .btn:hover {
  transition: 1s;
  background-color: rgb(150, 150, 150);
}
.form_wrapper .signup_form .form_area .auth_btn {
  width: 80px;
  margin-top: 20px;
  margin-left: 220px;
  font-size: 13px;
<<<<<<< HEAD
  font-family: "Open Sans", "sans-serif";
=======
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
  color: rgb(40, 40, 40);
  border: 1px solid rgba(80, 80, 80, 0.8);
}
.form_wrapper .signup_form .form_area .auth_btn:hover {
  transition: 1s;
  background-color: rgb(150, 150, 150);
}

.top_wapper {
  margin: 0 auto;
  box-shadow: 2px 2px 2.5px rgb(0, 0, 0);
}
.top_wapper .top_bg_img {
  margin-top: 4%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 55%, rgb(255, 255, 255) 80%), url("/static/images/sleeping-man.jpg");
  text-align: center;
  width: 100%;
  min-height: 1000px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}
.top_wapper .top_main_title {
  display: inline-block;
}
.top_wapper .top_main_title h3 {
  font-size: 50px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  font-weight: bold;
}
.top_wapper .top_main_title p {
  width: 70%;
  font-size: 15px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  margin: auto;
  padding-top: 10px;
}

.main_wrapper {
  width: 100%;
  min-height: 900px;
  padding: 120px 0 150px 0;
  margin: 0;
<<<<<<< HEAD
  background-color: #fff;
=======
  background-color: rgba(255, 255, 255, 0.8);
>>>>>>> main
}
.main_wrapper .container {
  width: 1290px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.main_wrapper .container .main_title {
  width: 100%;
  text-align: center;
}
.main_wrapper .container .main_title h3 {
  font-size: 22px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  font-weight: bold;
}
.main_wrapper .container .main_title p {
  font-size: 15px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
}
.main_wrapper .container .tools_table {
  width: 1298px;
  margin-top: 70px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.main_wrapper .container .tools_table tr {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}
.main_wrapper .container .tools_table tr .tool {
  box-sizing: content-box;
  width: 300px;
  height: 200px;
  margin-bottom: 40px;
}
.main_wrapper .container .tools_table tr .tool .tool_items {
  box-sizing: content-box;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  display: block;
  text-decoration: none;
  border: 1px solid rgba(80, 80, 80, 0.8);
  background-color: rgb(129, 129, 129);
}
.main_wrapper .container .tools_table tr .tool .tool_items .tool_item_title {
  margin: 0;
  padding: 0;
  height: 35px;
  background-color: rgb(129, 129, 129);
}
.main_wrapper .container .tools_table tr .tool .tool_items .tool_item_title h3 {
  margin: 0;
  padding: 7px 0 0 20px;
  font-size: 15px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  font-weight: bold;
  color: rgb(40, 40, 40);
}
.main_wrapper .container .tools_table tr .tool .tool_items .tool_item_title h3::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  top: 13px;
  right: 50px;
  border-top: 1.5px solid rgb(40, 40, 40);
  border-right: 1.5px solid rgb(40, 40, 40);
  transform: rotate(45deg);
  opacity: 0;
}
.main_wrapper .container .tools_table tr .tool .tool_items .tool_item_sentence {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 165px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
}
.main_wrapper .container .tools_table tr .tool .tool_items .tool_item_sentence .tool_icon_area {
  position: relative;
  width: 80px;
  height: 100%;
}
.main_wrapper .container .tools_table tr .tool .tool_items .tool_item_sentence .tool_icon_area .tool_icon_img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 30px;
  height: 30px;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_wrapper .container .tools_table tr .tool .tool_items .tool_item_sentence p {
  width: 216px;
  padding: 15px 5px 7px 0;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  color: rgb(40, 40, 40);
}
.main_wrapper .container .tools_table tr .tool .tool_items:hover {
  transition: 1s;
  background-color: rgb(255, 255, 255);
}
.main_wrapper .container .tools_table tr .tool .tool_items:hover .tool_item_title {
  transition: 1s;
  background-color: rgb(255, 255, 255);
}
.main_wrapper .container .tools_table tr .tool .tool_items:hover .tool_item_title p::after {
  right: 20px;
  transition: 1s;
  opacity: 1;
}
.main_wrapper .container .tool_explanation {
  display: flex;
  width: 100%;
  margin-top: 40px;
  border-bottom: 2px solid rgba(80, 80, 80, 0.8);
}
.main_wrapper .container .tool_explanation .explanation_view {
  width: 50%;
}
.main_wrapper .container .tool_explanation .explanation_view .explanation_title {
  width: 100%;
  margin-top: 20px;
  padding-left: 15px;
  font-size: 15px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  font-weight: bold;
}
.main_wrapper .container .tool_explanation .explanation_view .explanation_text {
  padding: 10px 5px 5px 35px;
  font-size: 13px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
}
.main_wrapper .container .tool_explanation .explanation_used {
  width: 50%;
  border-left: 1px solid rgba(80, 80, 80, 0.8);
}
.main_wrapper .container .tool_explanation .explanation_used .explanation_title {
  width: 100%;
  margin-top: 20px;
  padding-left: 15px;
  font-size: 15px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
  font-weight: bold;
}
.main_wrapper .container .tool_explanation .explanation_used .explanation_text {
  padding: 0 5px 5px 50px;
  font-size: 13px;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
}
.main_wrapper .container .data_form {
  margin-top: 50px;
  margin-left: 50%;
  width: 450px;
  transform: translateX(-50%);
  background-color: rgb(204, 204, 204);
}
.main_wrapper .container .data_form .form_area {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
  margin: 60px 0 0 25px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1400px) {
  .tools_table {
    width: 960px;
  }
}
footer {
  width: 100%;
  height: 400px;
  text-align: center;
  background-color: rgb(238, 238, 234);
}
footer p {
  padding: 5% 0 0 0;
  font-size: 12px;
<<<<<<< HEAD
  font-family: "Open Sans", "sans-serif";
=======
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "sans-serif";
>>>>>>> main
}/*# sourceMappingURL=main.css.map */