@charset "utf-8";

// 関数
@mixin img($width, $height, $opacity) {
    position: absolute;
    object-fit: cover;
    width: $width;
    height: $height;
    opacity: $opacity;
}
@mixin link($font_size,$font_color,$font_family) {
    text-decoration: none;
    font-size: $font_size;
    color: $font_color;
    font-family: $font_family;
}
@mixin except_font_size($font_size) {
    font-size: $font_size;
}

// 共通
$title: 45px;
$header_title: 20px;
$subtitle: 22px;
$text: 16px;
$text_color: rgb(40, 40, 40);
$border_color: rgba(80, 80, 80, 0.8);
$hover_color: rgba(255, 255, 255, 0.8);
$back_color: rgb(255, 255, 255);
$modal_color: #6C6E74;
$en:'Open Sans', 'sans-serif';
$ja: "游ゴシック","ヒラギノ角ゴ ProN","sans-serif";

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrap {
    overflow: hidden;
}

// ヘッダー周り
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height:65px;
    border-bottom: 2px solid $border_color;
    z-index: 5;
    background-color: #fff;
    .header_top_link {
        position: relative;
        width: 200px;
        @include link(none,none,none);
        margin: 0 0 30px 30px;
        .title_img {
            @include img(100%,none,1);
        }
    }
    .header_right_contents {
        display: flex;
        align-items: center;
        height: 100%;
        margin-right: 80px;
        .header_right_link {
            display: block;
            text-decoration: none;
            width: 130px;
            text-align: center;
            color: $text_color;
            h2 {
                padding: 25px 0;
                margin: 0;
                font-size: $header_title;
                font-family: $ja;
                // font-weight: bold;
                // &::after {
                //     box-sizing: content-box;
                //     content: '';
                //     display: block;
                //     width: 0;
                //     margin-top: 5px;
                //     transition: all 0.3s ease;
                //     border-bottom: 2px solid $border_color;
                // }
                // &:hover::after {
                //     box-sizing: content-box;
                //     width: 100%;
                //     border-bottom: 2px solid $border_color;
                // }
            }
        }
        .header_right_small_link_area {
            display: flex;
            align-items: center;
            height: 100%;
            margin-left: 70px;
            .header_right_small_link {
                display: block;
                text-decoration: none;
                width: 70px;
                text-align: center;
                color: $text_color;
                p {
                    padding-top: 45px;
                    font-size: $text;
                    font-family: $en;
                    // &::after {
                    //     content: '';
                    //     display: block;
                    //     width: 0;
                    //     margin-top: 2px;
                    //     transition: all 0.3s ease;
                    //     border-bottom: 1px solid $border_color;
                    // }
                    // &:hover::after {
                    //     width: 100%;
                    //     border-bottom: 1px solid $border_color;
                    // }
                }
            }
        }
        .header_right_account_area {
            position: relative;
            width: 130px;
            text-align: center;
            .account_icon {
                position: absolute;
                top: -18px;
                right: -10px;
                @include except_font_size(30px);
                color: $text_color;
                transition: .2s;
                &:hover {
                    color: gray;
                    transition: .2s;
                }
            }
        }
    }
    .account_modal {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 10px;
        top: 65px;
        right: -170px;
        width: 170px;
        height: 400px;
        text-align: center;
        z-index: 100;
        background-color: $modal_color;
        transition: .2s;
        .header_account_edit_link {
            display: block;
            margin-top: 20px;
            padding: 5px 0;
            @include link($text,$text_color,$ja);
        }
        .header_account_logout_link {
            display: block;
            @include link($text,$text_color,$en);
        }
        &.active {
            right: 0 !important;
            transition: .2s;
        }
    }
}

.form_wrapper {
    width: 100%;
    min-height: 900px;
    padding: 200px 0 250px 0;
    margin: 0;
    background-color: $back_color;
    // form
    .form {
        width: 350px;
        min-height: 350px;
        margin-left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        border: 1px solid $border_color;
        .form_title {
            margin: 0;
            padding: 10px 0;
            font-size: $subtitle;
            font-family: $en;
            text-align: center;
            letter-spacing: 3px;
            color: $hover_color;
            background-color: black;
        }
        .form_area {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 300px;
            margin: 60px 0 0 25px;
            padding-bottom: 30px;
            .message {
                margin: 0;
                padding: 0;
                @include except_font_size(12px);
                color: rgb(110,0,0);
            }
            .form_content {
                position: relative;
                width: 100%;
                .form_label {
                    position: absolute;
                    top: -12px;
                    left: 10px;
                    @include except_font_size(13px);
                    font-family: $en;
                    color: $text_color;
                    opacity: .8;
                    background-color: #fff;
                }
                .form_input {
                    width: 100%;
                    font-size: $text;
                    font-family: $en;
                    background-color: #fff;
                    &:focus {
                        border: 1px solid $border_color;
                        outline: 1px $text_color;
                        box-shadow: 3px 3px 3px $text_color;
                    }
                }
                //auth_form
                .auth_form_label {
                    position: absolute;
                    top: -12px;
                    left: 10px;
                    margin-top: 25px;
                    @include except_font_size(13px);
                    font-family: $en;
                    color: $text_color;
                    opacity: .8;
                    background-color: #fff;
                }
                .auth_form_input {
                    width: 100%;
                    margin-top: 25px;
                    font-size: $text;
                    font-family: $en;
                    &:focus {
                        border: 1px solid $border_color;
                        outline: 1px $text_color;
                        box-shadow: 3px 3px 3px $text_color;
                    }
                }
            }
            .btn {
                width: 80px;
                margin-left: 220px;
                @include except_font_size(13px);
                font-family: $en;
                color: $text_color;
                border: 1px solid $border_color;
                &:hover {
                    transition: 1s;
                    background-color: rgb(150, 150, 150);
                }
            }
            .auth_btn {
                width: 80px;
                margin-top: 20px;
                margin-left: 220px;
                @include except_font_size(13px);
                font-family: $en;
                color: $text_color;
                border: 1px solid $border_color;
                &:hover {
                    transition: 1s;
                    background-color: rgb(150, 150, 150);
                }
            }
        }
        .link_area {
            width: 150px;
            margin-left: 50%;
            padding-bottom: 30px;
            transform: translateX(-50%);
            .form_link {
                position: relative;
                display: block;
                width: 100%;
                text-align: left;
                @include link(none, $text_color , $ja);
                @include except_font_size(12px);
                &::after {
                    position: absolute;
                    content: "";
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    top: 6.5px;
                    right: 5px;
                    border-top: 0.5px solid $text_color;
                    border-right: 0.5px solid $text_color;
                    transform: rotate(45deg);
                }
                &:hover::after {
                    right: 0px;
                    transition: .3s;
                }
            }
        }
    }
}


// topページ追加
.hero_wrapper{
    padding-top: 150px;
    box-shadow: 0px 1.2px 3.6px rgb(0 0 0 / 11%), 0px 6.4px 14.4px rgb(0 0 0 / 13%);
    background-color: #fff;

    .hero_container{
        max-width: 1900px;
        margin: 0 auto;
        margin-bottom: 100px;

        .hero_bg_img{
            background: linear-gradient(to top, rgba(255, 255, 255, 0) 55%, rgb(255, 255, 255) 80%),url('/static/images/sleeping-man.jpg');
            text-align: center;
            width: 100%;
            height: 40vw;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: top;
        }
        .hero_main_title {
            display: inline-block;
            h3 {
                font-size: $title;
                font-family: $ja;
                font-weight: bold;
            }
            p {
                width: 70%;
                font-size: $text;
                font-family: $ja;
                margin: auto;
                padding-top: 10px;
            }
            a{
                margin-top: 25px;
                background-color: #1285ff;
                padding: 15px 30px;
                font-size: 20px;
                font-family: $ja;
                box-shadow: 0px 1.2px 3.6px rgb(0 0 0 / 11%), 0px 6.4px 14.4px rgb(0 0 0 / 13%);
            }
        }
    }
}


@media screen and (max-width:1900px) {
    .hero_wrapper{
        .hero_container{
            .hero_bg_img{
                height: 50vw;
            }
        }
    }
}

@media screen and (max-width:1300px) {
    .hero_wrapper{
        .hero_container{
            .hero_bg_img{
                height: 60vw;
            }
            .hero_main_title {
                h3 {
                    font-size: 45px;
                }
            }
        }
    }
}

@media screen and (max-width:960px) {
    .hero_wrapper{
        padding-top: 10%;
        .hero_container{
            .hero_bg_img{
                background-size: 200%;
                height: 100vw;
            }
            .hero_main_title {
                h3 {
                    font-size: 35px;
                }
            }
        }
    }
}


.top_wrapper{
    width: 100%;
    padding: 100px 0 150px 0;
    margin: 0;
    .top_container{
        .box{
            margin: 0 25%;
            h3 {
                font-size: $title;
                font-family: $ja;
                font-weight: bold;
                padding-bottom: 20px;
            }
            h4{
                font-size: $subtitle;
                font-family: $ja;
                font-weight: bold;
                padding: 30px 0 5px 0;
            }
            hr{
                margin: 0 0 50px 0;
            }
            a{
                margin-top: 25px;
                background-color: #1285ff;
                padding: 15px 30px;
                font-size: 20px;
                font-family: $ja;
                box-shadow: 0px 1.2px 3.6px rgb(0 0 0 / 11%), 0px 6.4px 14.4px rgb(0 0 0 / 13%);
            }
        }
        .feature{
            margin-left: 25%;
            padding: 100px 0;
            background: no-repeat;
            background-image: url('/static/images/timer.png'), url('/static/images/pc.png');
            background-position: 65% 10%, 45% 55%;
            background-size: 10%, 25%;

            ul{
                list-style: none;
                padding: 0 0;
                li{
                    width: 300px;
                    margin-bottom: 50px;
                    // padding-left: 35px;
                    background: no-repeat;
                    background-size: 30px auto;
                    // background-position: 35px 0;
                    h4{
                        font-family: $ja;
                        font-weight: bold;
                        margin-left: 40px;
                    }
                }
                li:nth-child(1){
                    background-image: url('/static/images/icon/robot.png');
                }
                li:nth-child(2){
                    background-image: url('/static/images/icon/beginner.png');
                }
                li:nth-child(3){
                    background-image: url('/static/images/icon/security.png');
                }
            }
        }
    }
}





.main_wrapper {
    position: relative;
    width: 100%;
    min-height: 900px;
    padding: 200px 0 150px 0;
    margin: 0;
    background-color: $back_color;
    .sample_area {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(5, 5, 5, 0.856);
        z-index: 6;
        img {
            position: absolute;
            width: 600px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 6;
        }
        .sample_close {
            position: absolute;
            top: 30px;
            right: 40px;
            font-size: $subtitle;
            color: wheat;
            z-index: 6;
        }
    }
    .main_title {
        width: 100%;
        text-align: center;
        .title{
            display: flex;
            justify-content: center;
            h1 {
                font-size: $title;
                font-family: $ja;
                font-weight: bold;
                padding-bottom: 7px;
            }
            img {
                width: 43px;
                height: 43px;
                margin: 3px 0 0 20px;
            }
        }
        h3 {
            font-size: $subtitle;
            font-family: $ja;
            font-weight: bold;
        }
        p {
            font-size: $text;
            font-family: $ja;
        }
    }
    .container {
        width: 1290px;
        margin-left: 50%;
        transform: translateX(-50%);
        .tools_table {
            width: 1290px;
            margin-top: 80px;
            margin-left: 50%;
            transform: translateX(-50%);
            tr {
                // height: 100px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 30px;
                .tool {
                    position: relative;
                    width: 300px;
                    // margin-bottom: 40px;
                    background-color: #fff;
                    .tool_items {
                        margin: 0;
                        display: block;
                        text-decoration: none;
                        background-color: #FFF;
                        text-align: left;
                        min-height: 194px;
                        position: relative;
                        min-width: 286px;
                        box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 13%), 0 0.6px 1.8px 0 rgb(0 0 0 / 11%);
                        border-radius: 3px;
                        padding: 20px;

                        .tool_item_title {
                            margin: 0;
                            padding: 0;
                            text-align: left;
                            display: flex;
                            .tool_icon_img {
                                width: 45px;
                                height: 45px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            h3 {
                                margin: 12px;
                                @include except_font_size(20px);
                                font-family: $ja;
                                font-weight: bold;
                                color: $text_color;
                            }
                        }
                        .tool_item_sentence {
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            height: 100px;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            @include except_font_size(13px);
                            p {
                                padding: 10px 0;
                                margin: 0;
                                font-family: $ja;
                                color: $text_color;
                            }
                        }
                        .tool_category {
                            p {
                                font-size: 13px;
                                font-family: $ja;
                                font-weight: bold;
                                color: $text_color;
                                margin: 0;
                                padding: 20px 0 0 0;
                            }
                        }
                    }
                    &:hover {
                        top: -1px;
                        box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
                    }
                }
            }
        }
        .tool_explanation {
            display: flex;
            width: 100%;
            margin-top: 40px;
            padding: 20px;
            border-bottom: 1px solid $border_color;
            .explanation_view {
                width: 50%;
                padding-right: 15px;
                .explanation_title {
                    width: 100%;
                    margin-top: 20px;
                    padding-left: 15px;
                    font-size: $text;
                    font-family: $ja;
                    font-weight: bold;
                }
                .explanation_text {
                    padding: 10px 5px 5px 35px;
                    @include except_font_size(13px);
                    font-family: $ja;
                }
            }
            .explanation_used {
                position: relative;
                width: 50%;
                border-left: 1px solid $border_color;
                .explanation_title {
                    width: 100%;
                    margin-top: 20px;
                    padding-left: 15px;
                    font-size: $text;
                    font-family: $ja;
                    font-weight: bold;
                }
                .explanation_text {
                    padding: 0 5px 5px 50px;
                    @include except_font_size(13px);
                    font-family: $ja;
                }
                .sample_text {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    font-size: $text;
                    span {
                        margin-left: 10px;
                    }
                }
            }
        }
        .data_form {
            margin-top: 50px;
            margin-left: 50%;
            margin-bottom: 50px;
            width: 450px;
            transform: translateX(-50%);
            border: 1px solid $border_color;
            .form_title {
                margin: 0;
                padding: 10px 0;
                font-size: $subtitle;
                font-family: $en;
                text-align: center;
                letter-spacing: 3px;
                color: $hover_color;
                background-color: black;
            }
            .form_area {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 400px;
                margin: 30px 0 0 25px;
                padding-bottom: 30px;
                .message {
                    margin: 0;
                    padding: 0;
                    @include except_font_size(12px);
                    color: rgb(110,0,0);
                }
                .alert_area {
                    width: 100%;
                    .error_alert {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        height: 30px;
                        background-color: rgb(255, 230, 230);
                        border: 1px solid rgb(110,0,0);
                        border-radius: 3px;
                        .alert_icon {
                            margin-left: 10px;
                            font-size: $text;
                            color: rgb(110,0,0);
                        }
                        p {
                            margin: 0;
                            padding: 0;
                            @include except_font_size(12px);
                            color: rgb(110,0,0);
                        }
                        .close_icon {
                            margin-right: 5px;
                            font-size: $subtitle;
                        }
                    }
                }
                .file_content {
                    width: 100%;
                    height: 150px;
                    .file_label {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        border: 1px solid $border_color;
                        p {
                            width: 110px;
                            padding: 2px;
                            @include except_font_size(13px);
                            font-family: $ja;
                            text-align: center;
                            color: $text_color;
                            background-color: rgb(200, 200, 200);
                            border-right: 1px solid $border_color;
                            border-bottom: 1px solid $border_color;
                        }
                        .plus_icon {
                            position: absolute;
                            bottom: 60px;
                            left: 50%;
                            font-size: $subtitle;
                            transform: translateX(-50%);
                            opacity: .7;
                        }
                    }
                    // .file_area {
                    //     position: absolute;
                    //     left: 0;
                    //     bottom: 0;
                    //     width: 100%;
                    //     height: 100px;
                    //     border: 1px solid $border_color;
                    //     .plus_icon {
                    //         position: absolute;
                    //         bottom: 40px;
                    //         right: 50%;
                    //         transform: translateX(-50%);
                    //     }
                    // }
                }
                .form_content {
                    position: relative;
                    width: 100%;
                    .form_label {
                        // position: absolute;
                        // top: -12px;
                        // left: 10px;
                        @include except_font_size(13px);
                        font-family: $ja;
                        color: $text_color;
                        background-color: #fff;
                    }
                    .form_input {
                        width: 100%;
                        font-size: $text;
                        font-family: $en;
                        background-color: #fff;
                        &:focus {
                            border: 1px solid $border_color;
                            outline: 1px $text_color;
                            box-shadow: 3px 3px 3px $text_color;
                        }
                    }
                }
                .submit_text {
                    position: absolute;
                    left: 5px;
                    bottom: 38px;
                    margin: 0;
                    padding: 0;
                    @include except_font_size(12px);
                }
                .btn {
                    width: 80px;
                    margin-left: 320px;
                    @include except_font_size(13px);
                    font-family: $ja;
                    // font-weight: bold;
                    // letter-spacing: 2px;
                    // color: white;
                    // border: 1px solid $border_color;
                    // background-color: #1285ff;
                    // &:hover {
                    //     transition: 1s;
                    //     background-color: rgb(150, 150, 150);
                    // }
                }
            }
        }
        .notice {
            position: relative;
            padding-top: 20px;
            padding-left: 70px;
            border-top: 1px solid $border_color;
            .notice_title {
                width: 100%;
                font-size: $text;
                font-family: $ja;
                font-weight: bold;
            }
            .notice_text {
                padding-top: 20px;
                @include except_font_size(13px);
                font-family: $ja;
            }
        }
    }
}


@media screen and (max-width:1400px) {
    .tools_table {
        width: 960px;
    }
}

// footer
footer {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgb(238, 238, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
        color: $text_color;
        img{
            width: 12px;
            height: 12px;
            margin-bottom: 6px;
        }
    }
    p {
        @include except_font_size(12px);
        font-family: $ja;
        margin: 0 0 0 15px;
    }
}