@media screen and (max-width: 1900px) {
  .hero_wrapper .hero_container .hero_bg_img {
    height: 50vw;
  }
  .top_wrapper .top_container .box .feature {
    background-position: 100% 10%, 80% 55%;
    background-size: 20%, 45%;
  }
}
@media screen and (max-width: 1400px) {
  .hero_wrapper .hero_container .hero_bg_img {
    height: 60vw;
  }
  .hero_wrapper .hero_container .hero_main_title h3 {
    font-size: 40px;
  }
  .hero_wrapper .hero_container .hero_main_title a {
    padding: 10px 20px;
  }
  .top_wrapper .top_container .box h3 {
    font-size: 38px;
  }
  .top_wrapper .top_container .box a {
    padding: 10px 20px;
  }
  .top_wrapper .top_container .box .feature {
    background-position: 100% 25%, 90% 55%;
    background-size: 20%, 45%;
  }
  .top_wrapper .top_container .box .feature ul li {
    width: 250px;
  }
  .main_wrapper .container .tools_table {
    width: 960px;
  }
}
@media screen and (max-width: 1000px) {
  header {
    height: 60px;
  }
  header .header_top_link {
    width: 160px;
  }
  header .header_right_contents {
    margin-right: 30px;
    gap: 5px;
  }
  header .header_right_contents .header_right_link {
    width: 100px;
  }
  header .header_right_contents .header_right_link h2 {
    font-size: 16px;
  }
  .hero_wrapper {
    padding-top: 120px;
  }
  .hero_wrapper .hero_container .hero_bg_img {
    background-size: 140%;
    height: 70vw;
  }
  .hero_wrapper .hero_container .hero_main_title h3 {
    font-size: 33px;
  }
  .hero_wrapper .hero_container .hero_main_title a {
    font-size: 16px;
  }
  .top_wrapper {
    padding: 150px 0 80px 0;
  }
  .top_wrapper .top_container .box {
    margin: 0 10%;
  }
  .top_wrapper .top_container .box h3 {
    font-size: 30px;
  }
  .top_wrapper .top_container .box a {
    font-size: 16px;
  }
  .top_wrapper .top_container .box .feature {
    background-position: 100% 25%, 80% 55%;
  }
  .top_wrapper .top_container .box .feature ul li {
    width: 250px;
  }
  .main_wrapper .container .tools_table {
    width: 630px;
  }
  .main_wrapper .container .data_form {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  header .header_top_link {
    width: 120px;
    margin: 0 0 20px 10px;
  }
  header .header_right_contents {
    margin-right: 10px;
  }
  header .header_right_contents .header_right_link {
    width: 100px;
  }
  .hero_wrapper {
    padding-top: 120px;
  }
  .hero_wrapper .hero_container .hero_bg_img {
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 75%, rgb(255, 255, 255) 100%), url("/static/images/sleeping-man.jpg");
    height: 100vw;
    background-size: 200%;
    background-position: top;
  }
  .hero_wrapper .hero_container .hero_main_title h3 {
    font-size: 25px;
  }
  .hero_wrapper .hero_container .hero_main_title a {
    padding: 9px 12px;
    font-size: 16px;
  }
  .top_wrapper {
    padding: 150px 0 80px 0;
  }
  .top_wrapper .top_container .box {
    margin: 0 10%;
  }
  .top_wrapper .top_container .box h3 {
    font-size: 25px;
  }
  .top_wrapper .top_container .box a {
    padding: 9px 12px;
    font-size: 16px;
  }
  .top_wrapper .top_container .box .feature {
    background-image: none;
  }
  .top_wrapper .top_container .box .feature ul li {
    width: 100%;
  }
  .top_wrapper .top_container .box .feature ul li h4 {
    font-size: 18px;
  }
  .top_wrapper .top_container .box .feature ul li p {
    font-size: 16px;
  }
  .main_wrapper {
    padding: 150px 0 130px 0;
  }
  .main_wrapper .main_title .title h1 {
    font-size: 33px;
  }
  .main_wrapper .main_title h3 {
    font-size: 16px;
  }
  .main_wrapper .container .tools_table {
    width: 300px;
  }
  .main_wrapper .container .data_form {
    width: 90%;
  }
  .main_wrapper .container .notice .notice_text {
    padding-left: 30px;
  }
  footer {
    height: 70px;
  }
  footer .footer_box {
    display: flex;
  }
  footer .footer_box .footer_privacy {
    display: block;
  }
  footer .footer_box .write_text {
    padding: 0 0 0 10px;
    margin: 0;
  }
  footer .footer_text {
    display: flex;
  }
}
@media screen and (max-width: 400px) {
  header .header_right_contents {
    margin-right: 10px;
    gap: 2px;
  }
  header .header_right_contents .header_right_link {
    width: 80px;
  }
  header .header_right_contents .header_right_link h2 {
    font-size: 13px;
  }
  .hero_wrapper {
    padding-top: 160px;
  }
  .hero_wrapper .hero_container .hero_bg_img {
    background-size: 200%;
    height: 130vw;
  }
  .hero_wrapper .hero_container .hero_main_title h3 {
    font-size: 25px;
  }
  .hero_wrapper .hero_container .hero_main_title p {
    width: 90%;
    font-size: 16px;
  }
  .hero_wrapper .hero_container .hero_main_title a {
    margin-top: 20px;
    font-size: 16px;
  }
  .top_wrapper {
    padding: 150px 0 0 0;
  }
  .top_wrapper .top_container .box {
    margin: 0 10% 60px 10%;
  }
  .top_wrapper .top_container .box h3 {
    padding-bottom: 10px;
    font-size: 25px;
  }
  .top_wrapper .top_container .box p {
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
  .top_wrapper .top_container .box a {
    margin-top: 20px;
    font-size: 16px;
  }
  .top_wrapper .top_container .box .feature {
    padding: 30px 0 50px 0;
  }
  .top_wrapper .top_container .box .feature ul li {
    margin-bottom: 30px;
    background-size: 25px;
  }
  .top_wrapper .top_container .box .feature ul li h4 {
    margin-left: 35px;
  }
}/*# sourceMappingURL=responsive.css.map */