$tab_title : 40px;
$tab_title_text: 38px;
$small_title: 33px;
$small_title_text: 30px;
$small_sub_title: 16px;
$phone_title: 25px;
$phone_title_text: 18px;
$phone_sub_title: 13px;
$phone_text: 16px;
@media screen and (max-width:1900px) {
    .hero_wrapper{
        .hero_container{
            .hero_bg_img{
                height: 50vw;
            }
        }
    }
    .top_wrapper {
        .top_container {
            .box{
                .feature {
                    background-position: 100% 10%, 80% 55%;
                    background-size: 20%, 45%;
                }
            }
        }
    }
}

@media screen and (max-width:1400px) {
    .hero_wrapper{
        .hero_container{
            .hero_bg_img{
                height: 60vw;
            }
            .hero_main_title {
                h3 {
                    font-size: $tab_title;
                }
                a {
                    padding: 10px 20px;
                }
            }
        }
    }
    .top_wrapper {
        .top_container {
            .box {
                h3 {
                    font-size: $tab_title_text;
                }
                a {
                    padding: 10px 20px;
                }
                .feature {
                    background-position: 100% 25%, 90% 55%;
                    background-size: 20%, 45%;
                    ul {
                        li {
                            width: 250px;
                        }
                    }
                }
            }
        }
    }
    .main_wrapper {
        .container {
            .tools_table {
                width: 960px;
            }
        }
    }
}

@media screen and (max-width:1000px) {
    header {
        height: 60px;
        .header_top_link {
            width: 160px;
        }
        .header_right_contents {
            margin-right: 30px;
            gap: 5px;
            .header_right_link {
                width: 100px;
                h2 {
                    font-size: $small_sub_title;
                }
            }
        }
    }
    .hero_wrapper{
        padding-top: 120px;
        .hero_container{
            .hero_bg_img{
                background-size: 140%;
                height: 70vw;
            }
            .hero_main_title {
                h3 {
                    font-size: $small_title;
                }
                a {
                    padding: 7px 10px;
                    font-size: $small_sub_title;
                }
            }
        }
    }
    .top_wrapper {
        padding: 150px 0 80px 0;
        .top_container {
            .box {
                margin: 0 10%;
                h3 {
                    font-size: $small_title_text;
                }
                a {
                    padding: 7px 10px;
                    font-size: $small_sub_title;
                }
                .feature {
                    background-position: 100% 25%, 80% 55%;
                    ul {
                        li {
                            width: 250px;
                        }
                    }
                }
            }
        }
    }
    .main_wrapper{
        .container{
            .tools_table {
                width: 630px;
            }
            .data_form{
                width: 80%;
            }
        }
    }
}

@media screen and (max-width:700px) {
    header {
        .header_top_link {
            width: 120px;
            margin: 0 0 20px 10px;
        }
        .header_right_contents {
            margin-right: 10px;
            .header_right_link {
                width: 100px;
            }
        }
    }
    .hero_wrapper{
        padding-top: 120px;
        .hero_container{
            .hero_bg_img{
                background: linear-gradient(to top, rgba(255, 255, 255, 0) 73%, rgb(255, 255, 255) 97%),url('/static/images/sleeping-man.jpg');
                height: 100vw;
                background-size: 200%;
                background-position: top;
            }
            .hero_main_title {
                h3 {
                    font-size: $phone_title;
                }
                a {
                    padding: 7px 10px;
                    font-size: $phone_sub_title;
                }
            }
        }
    }
    .top_wrapper {
        padding: 150px 0 80px 0;
        .top_container {
            .box {
                margin: 0 10%;
                h3 {
                    font-size: $phone_title;
                }
                a {
                    padding: 7px 10px;
                    font-size: $phone_sub_title;
                }
                .feature {
                    background-image: none;
                    ul {
                        li {
                            width: 100%;
                            h4 {
                                font-size: $phone_title_text;
                            }
                            p {
                                font-size: $phone_text;
                            }
                        }
                    }
                }
            }
        }
    }
    .main_wrapper{
        padding: 150px 0 130px 0;
        .main_title {
            .title {
                h1 {
                    font-size: $small_title;
                }
            }
            h3 {
                font-size: $small_sub_title;
            }
        }
        .container{
            .tools_table {
                width: 300px;
            }
            .data_form{
                width: 90%;
            }
        }
    }

    .main_wrapper {
        .container {
            .notice {
                .notice_text {
                    padding-left: 30px;
                }
            }
        }
    }

    footer {
        height: 70px;
        .footer_box {
            display: flex;
            .footer_privacy {
                display: block;
            }
            .write_text {
                padding: 0 0 0 10px;
                margin: 0;
            }
        }
        .footer_text {
            display: flex;
        }
    }

}

@media screen and (max-width:400px) {
    header {
        .header_right_contents {
            margin-right: 10px;
            gap: 2px;
            .header_right_link {
                width: 80px;
                h2 {
                    font-size: $phone_sub_title;
                }
            }
        }
    }
    .hero_wrapper{
        padding-top: 160px;
        .hero_container{
            .hero_bg_img{
                background-size: 200%;
                height: 130vw;
            }
            .hero_main_title {
                h3 {
                    font-size: $phone_title;
                }
                p {
                    width: 90%;
                    font-size: $phone_text;
                }
                a {
                    margin-top: 20px;
                    padding: 4px 6px;
                    font-size: $phone_sub_title;
                }
            }
        }
    }
    .top_wrapper {
        padding: 150px 0 0 0;
        .top_container {
            .box {
                margin: 0 10% 60px 10%;
                h3 {
                    padding-bottom: 10px;
                    font-size: $phone_title;
                }
                p {
                    padding: 0;
                    margin: 0;
                    font-size: $phone_text;
                }
                a {
                    margin-top: 20px;
                    padding: 4px 6px;
                    font-size: $phone_sub_title;
                }
                .feature {
                    padding: 30px 0 50px 0;
                    ul {
                        li {
                            h4{
                                margin-left: 35px;
                            }
                            margin-bottom: 30px;
                            background-size: 25px;
                        }
                    }
                }
            }
        }
    }
}