@media screen and (max-width: 1900px) {
  .hero_wrapper .hero_container .hero_bg_img {
    height: 50vw;
  }
}
@media screen and (max-width: 1400px) {
  .hero_wrapper .hero_container .hero_bg_img {
    height: 60vw;
  }
  .hero_wrapper .hero_container .hero_main_title h3 {
    font-size: 40px;
  }
  .hero_wrapper .hero_container .hero_main_title a {
    padding: 10px 20px;
  }
  .top_wrapper .top_container .box h3 {
    font-size: 38px;
  }
  .top_wrapper .top_container .box a {
    padding: 10px 20px;
  }
  .top_wrapper .top_container .feature ul li {
    width: 250px;
  }
  .main_wrapper .container .tools_table {
    width: 960px;
  }
}
@media screen and (max-width: 1000px) {
  header {
    height: 50px;
  }
  header .header_top_link {
    width: 160px;
  }
  header .header_right_contents {
    margin-right: 30px;
    gap: 5px;
  }
  header .header_right_contents .header_right_link {
    width: 100px;
  }
  header .header_right_contents .header_right_link h2 {
    font-size: 16px;
  }
  .hero_wrapper {
    padding-top: 120px;
  }
  .hero_wrapper .hero_container .hero_bg_img {
    background-size: 200%;
    height: 100vw;
  }
  .hero_wrapper .hero_container .hero_main_title h3 {
    font-size: 33px;
  }
  .hero_wrapper .hero_container .hero_main_title a {
    padding: 7px 10px;
    font-size: 16px;
  }
  .top_wrapper {
    padding: 50px 0 80px 0;
  }
  .top_wrapper .top_container .box {
    margin: 0 10%;
  }
  .top_wrapper .top_container .box h3 {
    font-size: 30px;
  }
  .top_wrapper .top_container .box a {
    padding: 7px 10px;
    font-size: 16px;
  }
  .top_wrapper .top_container .feature {
    margin-left: 10%;
    padding: 70px 0;
  }
  .top_wrapper .top_container .feature ul li {
    width: 250px;
  }
  .main_wrapper .container .tools_table {
    width: 630px;
  }
  .main_wrapper .container .data_form {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  header {
    height: 35px;
  }
  header .header_top_link {
    width: 120px;
    margin: 0 0 20px 10px;
  }
  header .header_right_contents {
    margin-right: 10px;
  }
  header .header_right_contents .header_right_link {
    width: 80px;
  }
  header .header_right_contents .header_right_link h2 {
    font-size: 11px;
  }
  .hero_wrapper {
    padding-top: 120px;
  }
  .hero_wrapper .hero_container .hero_bg_img {
    background-size: 200%;
    height: 100vw;
  }
  .hero_wrapper .hero_container .hero_main_title h3 {
    font-size: 18px;
  }
  .hero_wrapper .hero_container .hero_main_title a {
    padding: 7px 10px;
    font-size: 11px;
  }
  .top_wrapper {
    padding: 50px 0 80px 0;
  }
  .top_wrapper .top_container .box {
    margin: 0 10%;
  }
  .top_wrapper .top_container .box h3 {
    font-size: 15px;
  }
  .top_wrapper .top_container .box a {
    padding: 7px 10px;
    font-size: 11px;
  }
  .top_wrapper .top_container .feature {
    margin-left: 10%;
    padding: 70px 0;
  }
  .top_wrapper .top_container .feature ul li {
    width: 250px;
  }
  .main_wrapper {
    padding: 150px 0 130px 0;
  }
  .main_wrapper .main_title .title h1 {
    font-size: 33px;
  }
  .main_wrapper .main_title h3 {
    font-size: 16px;
  }
  .main_wrapper .container .tools_table {
    width: 300px;
  }
  .main_wrapper .container .data_form {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  header {
    height: 35px;
  }
  header .header_top_link {
    width: 100px;
    margin: 0 0 20px 10px;
  }
  header .header_right_contents {
    margin-right: 10px;
    gap: 2px;
  }
  header .header_right_contents .header_right_link {
    width: 70px;
  }
  header .header_right_contents .header_right_link h2 {
    font-size: 11px;
  }
  .hero_wrapper {
    padding-top: 100px;
  }
  .hero_wrapper .hero_container .hero_bg_img {
    background-size: 200%;
    height: 100vw;
  }
  .hero_wrapper .hero_container .hero_main_title h3 {
    font-size: 18px;
  }
  .hero_wrapper .hero_container .hero_main_title p {
    width: 90%;
    font-size: 11px;
  }
  .hero_wrapper .hero_container .hero_main_title a {
    margin-top: 20px;
    padding: 4px 6px;
    font-size: 11px;
  }
  .top_wrapper {
    padding: 0;
  }
  .top_wrapper .top_container .box {
    margin: 0 10% 60px 10%;
  }
  .top_wrapper .top_container .box h3 {
    padding-bottom: 10px;
    font-size: 15px;
  }
  .top_wrapper .top_container .box p {
    padding: 0;
    margin: 0;
    font-size: 11px;
  }
  .top_wrapper .top_container .box a {
    margin-top: 20px;
    padding: 4px 6px;
    font-size: 11px;
  }
  .top_wrapper .top_container .feature {
    margin-left: 5%;
    padding: 0 0 20px 0;
    background-position: 85% 15%, 85% 55%;
  }
  .top_wrapper .top_container .feature ul li {
    margin-bottom: 30px;
    width: 200px;
    background-size: 20px auto;
  }
  .top_wrapper .top_container .feature ul li h4 {
    font-size: 15px;
  }
  .top_wrapper .top_container .feature ul li p {
    font-size: 11px;
  }
}/*# sourceMappingURL=responsive.css.map */