$tab_title : 40px;
$tab_title_text: 38px;
$small_title: 33px;
$small_title_text: 30px;
$small_sub_title: 16px;
$phone_title: 20px;
$phone_title_text: 18px;
$phone_sub_title: 12px;
@media screen and (max-width:1900px) {
    .hero_wrapper{
        .hero_container{
            .hero_bg_img{
                height: 50vw;
            }
        }
    }
}

@media screen and (max-width:1400px) {
    .hero_wrapper{
        .hero_container{
            .hero_bg_img{
                height: 60vw;
            }
            .hero_main_title {
                h3 {
                    font-size: $tab_title;
                }
                a {
                    padding: 10px 20px;
                }
            }
        }
    }
    .top_wrapper {
        .top_container {
            .box {
                h3 {
                    font-size: $tab_title_text;
                }
                a {
                    padding: 10px 20px;
                }
            }
            .feature {
                ul {
                    li {
                        width: 250px;
                    }
                }
            }
        }
    }
    .tools_table {
        width: 960px;
    }
}

@media screen and (max-width:1000px) {
    header {
        height: 50px;
        .header_top_link {
            width: 160px;
        }
        .header_right_contents {
            margin-right: 30px;
            gap: 5px;
            .header_right_link {
                width: 100px;
                h2 {
                    font-size: $small_sub_title;
                }
            }
        }
    }
    .hero_wrapper{
        padding-top: 120px;
        .hero_container{
            .hero_bg_img{
                background-size: 200%;
                height: 100vw;
            }
            .hero_main_title {
                h3 {
                    font-size: $small_title;
                }
                a {
                    padding: 7px 10px;
                    font-size: $small_sub_title;
                }
            }
        }
    }
    .top_wrapper {
        padding: 50px 0 80px 0;
        .top_container {
            .box {
                margin: 0 10%;
                h3 {
                    font-size: $small_title_text;
                }
                a {
                    padding: 7px 10px;
                    font-size: $small_sub_title;
                }
            }
            .feature {
                margin-left: 10%;
                padding: 70px 0;
                ul {
                    li {
                        width: 250px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:700px) {
    header {
        height: 35px;
        .header_top_link {
            width: 120px;
            margin: 0 0 20px 10px;
        }
        .header_right_contents {
            margin-right: 10px;
            .header_right_link {
                width: 80px;
                h2 {
                    font-size: $phone_sub_title;
                }
            }
        }
    }
    .hero_wrapper{
        padding-top: 120px;
        .hero_container{
            .hero_bg_img{
                background-size: 200%;
                height: 100vw;
            }
            .hero_main_title {
                h3 {
                    font-size: $phone_title;
                }
                a {
                    padding: 7px 10px;
                    font-size: $phone_sub_title;
                }
            }
        }
    }
    .top_wrapper {
        padding: 50px 0 80px 0;
        .top_container {
            .box {
                margin: 0 10%;
                h3 {
                    font-size: $phone_title_text;
                }
                a {
                    padding: 7px 10px;
                    font-size: $phone_sub_title;
                }
            }
            .feature {
                margin-left: 10%;
                padding: 70px 0;
                ul {
                    li {
                        width: 250px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    
}