{% extends "base.html" %}

{% block title %}
    <title>このサイトについて｜EC運営に役立つwebツール｜Auto-biz</title>
{% endblock %}

<!-- {% block header %}
<div class="header_right_contents">
    <a href={% url 'about' %} class="header_right_link">
        <span>auto-bizとは</span>
        <h2>About</h2>
    </a>
    <a href={% url 'login' %} class="header_right_link">
        <span>プレミアム会員</span>
        <h2>Premium</h2>
    </a>
    <a href={% url 'tools' %} class="header_right_link">
        <span>機能一覧</span>
        <h2>Tools</h2>
    </a>
    <a href={% url 'inquiry' %} class="header_right_link">
        <span>お問い合わせ</span>
        <h2>Contact</h2>
    </a>
    <div class="header_right_small_link_area">
        <a href={% url 'signup' %} class="header_right_small_link">
            <p>Signup</p>
        </a>
        <a href={% url 'login' %} class="header_right_small_link">
            <p>Login</p>
        </a>
        <a href="" class="header_right_small_link">
            <p>利用規約</p>
        </a>
        <a href={% url 'help' %} class="header_right_small_link">
            <p>Help</p>
        </a>
    </div>
</div>
{% endblock %} -->

{% block main %}
<div class="box">
    <div class="boxtitle">
        <h3>このサイトについて</h3>
    </div>
    <div class="sub_box">
        <h3>Auto-bizとは</h3>
        <p>
            主にECサイト運営をする上で<br>
            日々の単純作業を自動処理してくれる便利なWebツールを無料で提供しています。<br><br>
            面倒な作業はこのツールに任せて、あなたにしか出来ない本質的な仕事に取り組んでみてはいかがでしょうか？<br>
            メールにてこんなツールも欲しいなどのリクエストを募集しております。<br>
        </p>
    </div>
</div>
{% endblock %}