{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>EC運営に役立つwebツール｜Auto-biz</title>
{% endblock %}

{% block header %}
<div class="header_right_contents">
    <a href={% url 'about' %} class="header_right_link">
        <span>auto-bizとは</span>
        <h2>About</h2>
    </a>
    <a href={% url 'login' %} class="header_right_link">
        <span>プレミアム会員</span>
        <h2>Premium</h2>
    </a>
    <a href={% url 'tools' %} class="header_right_link">
        <span>機能一覧</span>
        <h2>Tools</h2>
    </a>
    <a href={% url 'inquiry' %} class="header_right_link">
        <span>お問い合わせ</span>
        <h2>Contact</h2>
    </a>
    <div class="header_right_small_link_area">
        <a href={% url 'signup' %} class="header_right_small_link">
            <p>Signup</p>
        </a>
        <a href={% url 'login' %} class="header_right_small_link">
            <p>Login</p>
        </a>
        <a href="" class="header_right_small_link">
            <p>利用規約</p>
        </a>
        <a href={% url 'help' %} class="header_right_small_link">
            <p>Help</p>
        </a>
    </div>
</div>
{% endblock %}

{% block main %}

<div class="top_wapper">
    <div class="top_container">
        <div class="top_bg_img">
            <div class="top_main_title">
                <h3>面倒な作業を自動化して<br>あなたにしかできないことをしましょう。</h3>
                <p>Auto-biz を利用することで、繰り返し作業や業務プロセスを効率化して、少ないリソースで最大の効果を発揮することができます。結果として生産性向上やコスト削減を実現できます。</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}