{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>EC運営に役立つwebツール｜Auto-biz</title>
{% endblock %}

{% block main %}

<div class="hero_wrapper">
    <div class="hero_container">
        <div class="hero_bg_img">
            <div class="hero_main_title">
                <h3>面倒な作業を自動化して<br>あなたにしかできないことをしましょう。</h3>
                <p>Auto-bizを利用することで、繰り返し行うデータ処理などを自動化して、少ないリソースで最大の効果を発揮することができます。結果として生産性向上やコスト削減を実現できます。</p>

                <a href={% url 'tools' %} class="btn btn-primary btn-lg">ツール一覧はこちら</a>
            </div>

        </div>
    </div>
</div>


<div class="top_wrapper">
    <div class="top_container">

        <div class="box">
            <h3>Auto-bizとは</h3>
            <p>
                Auto-bizでは、業務効率化に役立つ様々なWebツールを無料で提供しています。<br>
                面倒な作業はこのツールに任せて、あなたにしか出来ない本質的な仕事に取り組んでみませんか？<br>
            </p>
        </div>

        <div class="feature">
            <ul>
                <li>
                    <h4>高度な自動化機能</h4>
                    <p>受け取ったデータを元に既にプログラムされたシステムが実行されるので、大量のデータも数秒で完了。</p>
                </li>
                <li>
                    <h4>簡単な操作</h4>
                    <p>任意の指示を入力しファイルをアップロードするだけで、処理データがダウンロードされます。<br>手作業によるミスもありません。</p>
                </li>
                <li>
                    <h4>安心のセキュリティ</h4>
                    <p>アップロードされたファイルを処理し、そのまま処理結果を返す仕組み。<br>Auto-bizではアップロードされたデータを保管しない為、データベースからの情報漏洩リスクがなく安心してご利用いただけます。</p>
                </li>
            </ul>
        </div>

        <div class="box">
            <h3>お問い合わせ</h3>
            <p>
                お問い合わせフォームにてツールについてのご質問やこんなツールが欲しいなどのリクエストも募集しております。<br>
                また、あなた専用にカスタムしたツールの開発依頼なども柔軟に対応可能ですので、ぜひお気軽にご連絡ください。<br>
            </p>
            <a href={% url 'inquiry' %} class="btn btn-primary btn-lg">お問い合わせはこちら</a>
        </div>

    </div>
</div>

{% endblock %}