{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>ツール一覧｜Auto-biz</title>
{% endblock %}

{% block main %}
<div class="main_wrapper">
    <div class="container">

        <div class="main_title">
            <div class="title">
                <h1>ツール一覧</h1>
                <img src="{% static 'images/icon/tool.png' %}" alt="" class="title_icon_img">
            </div>
            <h3>EC運営に特化した、業務効率化に役立つWebツールを無料で提供しています。</h3>
        </div>

        <table class="tools_table">
            <tr>
                <td class="tool">
                    <a href={% url 'csv_extract' %} class="tool_items">
                        <div class="tool_item_title">
                            <div class="tool_icon_img"><img src="{% static 'images/icon/csv.png' %}" alt=""></div>
                            <h3>csv行抽出</h3>
                        </div>
                        <div class="tool_item_sentence">
                            <p>csvファイルから特定の行を抽出します。<br>複数キーワード抽出や部分一致での一括抽出などの応用も可能です。</p>
                        </div>
                        <div class="tool_category">
                            <p class="tool_detail">処理へ進む<span class="tool_detail_icon bi bi-chevron-right"></span></p>
                        </div>
                    </a>
                </td>
                <td class="tool">
                    <a href={% url 'csv_remove' %} class="tool_items">
                        <div class="tool_item_title">
                            <div class="tool_icon_img"><img src="{% static 'images/icon/csv.png' %}" alt=""></div>
                            <h3>csv行削除</h3>
                        </div>
                        <div class="tool_item_sentence">
                            <p>csvファイルから特定の行を削除します。<br>複数キーワード削除や部分一致での一括削除などの応用も可能です。</p>
                        </div>
                        <div class="tool_category">
                            <p class="tool_detail">処理へ進む<span class="tool_detail_icon bi bi-chevron-right"></span></p>
                        </div>
                    </a>
                </td>
                <td class="tool">
                    <a href={% url 'csv_split' %} class="tool_items">
                        <div class="tool_item_title">
                            <div class="tool_icon_img"><img src="{% static 'images/icon/csv.png' %}" alt="">
                            </div>
                            <h3>csv分割</h3>
                        </div>
                        <div class="tool_item_sentence">
                            <p>csvファイルを任意の行数で分割します。<br>ヘッダー有無の指定も可能です。<br></p>
                        </div>
                        <div class="tool_category">
                            <p class="tool_detail">処理へ進む<span class="tool_detail_icon bi bi-chevron-right"></span></p>
                        </div>
                    </a>
                </td>
                <td class="tool">
                    <a href={% url 'excel_table' %} class="tool_items">
                        <div class="tool_item_title">
                            <div class="tool_icon_img"><img src="{% static 'images/icon/xls.png' %}" alt=""></div>
                            <div class="tool_icon_img"><img src="{% static 'images/icon/html.png' %}" alt=""></div>
                            <h3>Excel to Html</h3>
                        </div>
                        <div class="tool_item_sentence">
                            <p>Excelの表をHtmlのテーブルタグに変換します。<br>
                                セル内改行、セル結合には対応していません。</p>
                        </div>
                        <div class="tool_category">
                            <p class="tool_detail">処理へ進む<span class="tool_detail_icon bi bi-chevron-right"></span></p>
                        </div>
                    </a>
                </td>
                <td class="tool">
                    <a href={% url 'excel_extract' %} class="tool_items">
                        <div class="tool_item_title">
                            <div class="tool_icon_img"><img src="{% static 'images/icon/xls.png' %}" alt=""></div>
                            <h3>Excel行抽出</h3>
                        </div>
                        <div class="tool_item_sentence">
                            <p>Excelファイルから特定の行の抽出ができます。<br>複数キーワード抽出や部分一致での一括抽出などの応用も可能です。</p>
                        </div>
                        <div class="tool_category">
                            <p class="tool_detail">処理へ進む<span class="tool_detail_icon bi bi-chevron-right"></span></p>
                        </div>
                    </a>
                </td>
                <td class="tool">
                    <a href={% url 'excel_remove' %} class="tool_items">
                        <div class="tool_item_title">
                            <div class="tool_icon_img"><img src="{% static 'images/icon/xls.png' %}" alt=""></div>
                            <h3>Excel行削除</h3>
                        </div>
                        <div class="tool_item_sentence">
                            <p>アップロードしたExcelファイルから特定の行のみを削除します。<br>複数キーワード削除や部分一致での一括削除などの応用も可能です。</p>
                        </div>
                        <div class="tool_category">
                            <p class="tool_detail">処理へ進む<span class="tool_detail_icon bi bi-chevron-right"></span></p>
                        </div>
                    </a>
                </td>
            </tr>
        </table>

    </div>

</div>
{% endblock %}