{% extends "base.html" %}

{% block title %}
<title>EC運営に役立つwebツール｜Innovation-Tools</title>
{% endblock %}

{% block main %}
<div class="box">
    <div class="boxtitle">
        <h3>EC運営に特化した、業務効率化に役立つWebツールを無料で提供しています。</h3>
    </div>

    <table class="tools_table">
        <tr>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
        </tr>

        <tr>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
        </tr>

        <tr>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
        </tr>

    </table>

<!-- 
        <div class="top_box">
            <a href="/urlencode.html">
                <div class="title_box">
                    <p class="top_box_group">WEB制作</p>
                    <p class="title long">URL<br />エンコード</p>
                </div>
                <div class="lead_box">
                    <p>日本語URLをエンコード文字に変換します。設定するリンクのURLをエンコードしておくと便利。</p>
                </div>
            </a>
        </div>
        <div class="top_box top_box_right">
            <a href="/escape.html">
                <div class="title_box">
                    <p class="top_box_group">WEB制作</p>
                    <p class="title long">HTML<br />特殊文字変換</p>
                </div>
                <div class="lead_box">
                    <p>HTMLやコードをホームページに載せる時、特殊文字に変換しておくと文字化けしなくて済みます。</p>
                </div>
            </a>
        </div>
        <div class="top_box">
            <a href="/csr.html">
                <div class="title_box">
                    <p class="top_box_group">SSL</p>
                    <p class="title">CSR作成</p>
                </div>
                <div class="lead_box">
                    <p>SSL証明書を申請する際に必要なCSRが簡単に作れます。Apache限定ですのでIISの方はごめんなさい。</p>
                </div>
            </a>
        </div>
        <div class="top_box">
            <a href="/csrcheck.html">
                <div class="title_box">
                    <p class="top_box_group">SSL</p>
                    <p class="title long">CSR<br />内容確認</p>
                </div>
                <div class="lead_box">
                    <p>作成したCSRの中身をチェックするツールです。どういう内容でCSR作ったっけ？という場合にどうぞ。</p>
                </div>
            </a>
        </tr>
    </table> -->

</div>
{% endblock %}