{% extends "base.html" %}

{% block title %}
<title>EC運営に役立つwebツール｜Innovation-Tools</title>
{% endblock %}

{% block main %}
<div class="box">
    <div class="boxtitle">
        <h3>EC運営に特化した、業務効率化に役立つWebツールを無料で提供しています。</h3>
    </div>

    <table class="tools_table">
        <tr>
            <td class="tool">
                <a href="/tool_extract">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
        </tr>

        <tr>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
        </tr>

        <tr>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
            <td class="tool">
                <a href="/tool1.html">
                    <div class="title_box">
                        <p class="title">WHOIS検索</p>
                    </div>
                    <div class="lead_box">
                        <p>ドメインのWHOIS情報が検索できます。「http://」が含まれていてもOK。調べたいURLをそのまま検索して下さい。</p>
                    </div>
                </a>
            </td>
        </tr>

    </table>
</div>
{% endblock %}