{% extends "base.html" %}

{% block title %}
<title>お問い合わせ｜Innovation-Tools</title>
{% endblock %}

{% block main %}

<div class="box">
    <h4>メールフォーム</h4>
    <div class="form-group">
        <form method="POST" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <p><span class="label">{{ form.name.label_tag }}</span>{{ form.name }}</p>
            <p><span class="label">{{ form.name_detail.label_tag }}</span>{{ form.name_detail }}</p>
            <p><span class="label">{{ form.company.label_tag }}</span>{{ form.company }}</p>
            <p><span class="label">{{ form.tel.label_tag }}</span>{{ form.tel }}</p>
            <p><span class="label">{{ form.mail.label_tag }}</span>{{ form.mail }}</p>
            <p><span class="label">{{ form.kinds.label_tag }}</span>{{form.kinds}}</p>
            <p><span class="label">{{ form.message.label_tag }}</span>{{ form.message }}</p>
            <button type="submit" class="save btn btn-outline-primary" id="btn">実行</button>
        </form>
    </div>
</div>

{% endblock %}